<% content_for :javascript do %>
	<%= javascript_include_tag "bootstrap-multiselect" %>
<% end %>
<script>
	$('.dropdown input, .dropdown label').click(function (event) {
	    event.stopPropagation();
	});
</script>
<script>
	$(document).ready(function() {
		$('#user_interests_attributes_0_name').multiselect();
	});
</script>

<div class="loginLogo">
	<%= image_tag("logo.png")%>
</div>

<div class="login">
	<h2>Sign up</h2>

	<% resource.interests.build %>

	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="input-prepend">
	  	<%= f.label :name %>
	  	 <i class="icon-user add-on"></i>
	  	<%= f.text_field :name, :autofocus => true, :class => "input-block-level width-90-percent" %>
	  </div>

	  <div class="input-prepend">
	  	<%= f.label :city %>
	  	<i class="icon-map-marker add-on"></i>
	  	<%= f.text_field :city, :class => "input-block-level width-90-percent" %>
	  </div>

	  <div>
	  	<%= f.label :interests %>
	  	<%# Todo: Fix the issue where there is an empty {} in the select option below  %>
	  	<%= f.fields_for :interests do |builder| %>
		  <% optionsHash = { "ArtAndCulture" => "Art & Culture","EducationAndLearning" => "Education & Learning","HealthAndFitness" => "Health & Fitness", "FoodAndDrink" => "Food & Drink","HobbiesAndCrafts" => "Hobbies & Crafts","MusicAndMovies" => "Music & Movies","EducationAndLearning" => "Education & Learning","OutdoorAndAdventure" => "Outdoor & Adventure","Photography" => "Photography","SportsAndRecreation" => "Sports & Recreation","EntrepreneursAndBusinessNetworking" => "Entrepreneurs & Business Networking","Technology" => "Technology"} %>
		  <%= builder.select(:name, optionsHash,{},{:multiple=>"multiple", :size=>5}) %>
		<% end %>

	  </div>
	  <br/>

	  <div class="input-prepend">
	  	<%= f.label :email %>
	  	<i class="icon-envelope-alt add-on"></i>
	  	<%= f.email_field :email, :class => "input-block-level width-90-percent" %>
	  </div>

	  <div class="input-prepend">
	  	<%= f.label :password %>
	  	<i class="icon-lock add-on"></i>
	  	<%= f.password_field :password, :class => "input-block-level width-90-percent" %>
	  </div>

	  <div class="input-prepend">
	  	<%= f.label :password_confirmation %>
	  	<i class="icon-lock add-on"></i>
	  	<%= f.password_field :password_confirmation, :class => "input-block-level width-90-percent" %>
	  </div>

	  <div><%= f.submit "Sign up", :class => "css3-button css3-button_pink loginButton input-block-level width-95-percent" %></div>
	<% end %>


	<div class="facebookLoginDivider">
		<div class="or">
			Or
		</div>
	</div>

	<%= render "devise/shared/links" %>
</div>
			

