<% content_for :javascript do %>
	<%= javascript_include_tag "bootstrap-multiselect" %>
<% end %>
<script>
	$('.dropdown input, .dropdown label').click(function (event) {
	    event.stopPropagation();
	});
</script>
<script>
	$(document).ready(function() {
		$('#user_interests_attributes_0_name').multiselect();
	});
</script>

<div class="loginLogo">
	<%= image_tag("logo.png")%>
</div>

<div class="login">
	<h2>Sign up</h2>

	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="form-group">
	  	<%= f.label :name %>
	  	<%= f.text_field :name, :autofocus => true, :class => "form-control" %>
	  </div>

	  <div class="form-group">
	  	<%= f.label :city %>
	  	<%= f.text_field :city, :class => "form-control" %>
	  </div>



	  <div class="form-group">
	  	<%= f.label :email %>
	  	
	  	<%= f.email_field :email, :class => "form-control" %>
	  </div>

	  <div class="form-group">
	  	<%= f.label :password %>
	  	
	  	<%= f.password_field :password, :class => "form-control" %>
	  </div>

	  <div class="form-group">
	  	<%= f.label :password_confirmation %>
	  	
	  	<%= f.password_field :password_confirmation, :class => "form-control" %>
	  </div>

	  <div><%= f.submit "Sign up", :class => "css3-button css3-button_pink loginPageButton" %></div>
	<% end %>


	<div class="facebookLoginDivider">
		<div class="or">
			Or
		</div>
	</div>

	<%= render "devise/shared/links" %>
</div>
			

