<% content_for :javascript do%>
    <%= javascript_include_tag "admin/Chart" %>
    
<% end %>


<script type="text/javascript">
$(function () {
        $('#container').highcharts({
            chart: {
                type: 'area',
            },
            title: {
                text: ''
            },
            xAxis: {
                type: 'datetime',
            },
            yAxis: {
                title: {
                    text: ''
                }
            },
            tooltip: {
                borderColor: "#fff",
                backgroundColor: "rgba(255,255,255,1)",
                pointFormat: '{series.name}: <b>{point.y:,.0f}</b> joined'
            },
            plotOptions: {
                area: {
                    marker: {
                        enabled: false,
                        symbol: 'circle',
                        radius: 2,
                        states: {
                            hover: {
                                enabled: true
                            }
                        }
                    }
                }
            },
            series: [{
                name: 'Signups',
                color: '#dd4124',
                fillColor: 'rgba(221,65,36,.2)',
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= 4.weeks.ago.to_i * 1000 %>,
                data: <%= (4.weeks.ago.to_date..Date.today).map {|date| User.total_signups_on(date).to_i}.inspect %>
            },
            {
                name: 'Attendees',
                color: '#83ca21',
                fillColor: 'rgba(131,202,33,.2)',
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= 4.weeks.ago.to_i * 1000 %>,
                data: <%= (4.weeks.ago.to_date..Date.today).map {|date| Attendee.total_joins_on(date).to_i}.inspect %>
            },
            ]
        });
    });
    

        </script>


<div class="row">
    <div class="col-md-12">
        <h3>Sign ups</h3>
        <!--
        <div id="container" style="min-width: 100%; height: 400px; margin: 0 auto"></div>
        -->
        <!-- Responsive canvas fix: https://github.com/nnnick/Chart.js/issues/56 -->
        <canvas id="canvas" height="300" width="1000"></canvas>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>Sign ups vs Attenddes</h3>
        <canvas id="signupsVsAttendees" height="300" width="300"></canvas>
    </div>
    <div class="col-md-6">
        <h3>FB vs Email signups</h3>
        <canvas id="fbVsEmail" height="300" width="300"></canvas>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <h3>Stats for this month</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h3>
            <div class="stat">
                <strong><%= User.total_signups_this_month %></strong> 
                <div class="statTitle">
                    Sign ups 
                </div>
            </div>
            
        </h3>
    </div>
    <div class="col-md-3">
        <h3>
            <div class="stat">
                <strong>
                    <%= Attendee.total_attendees_this_month %>
                </strong> 
                <div class="statTitle">
                    Attendees
                </div>
            </div>
        </h3>  
    </div>
    <div class="col-md-3">
        <h3>
            <div class="stat">
                <strong>
                    <%= Event.total_events_this_month%>
                </strong> 
                <div class="statTitle">
                    Events
                </div>
            </div>
        </h3>
    </div>
    <div class="col-md-3">
        <h3>
            <div class="stat">
                <strong>
                    
                </strong> 
                <div class="statTitle">
                    Revenue
                </div>
            </div>
        </h3>
        
    </div>
</div>



<div class="row">
    <div class="col-md-12">
        <h3>Events</h3>
    </div>
</div>


<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <% @event_list.each do |city,events| %>
                <h3><%= city %></h3>
                <ul class="event_list">
                    <% events.each do |event| %>
                        <li>
                            <div class="list-item-container">

                                <% if event.reminder == "sent" %>
                                    <div class="notification_status green">
                                    <i class="icon-ok"></i>    
                                <% else %>
                                    <div class="notification_status grey">
                                    <i class="icon-envelope-alt"></i>
                                <% end %>
                                    </div> 

                                <div class="eventDetails">
                                    <%= link_to event.event_name, event_path(event) %>
                                    <% if event.event_type = "public" %>
                                        <span class="green">Public</span> 
                                    <% else %>
                                        <span class="red">Private</span> 
                                    <% end %>
                                    
                                </div>

                                <% if event.reminder == "sent"%>
                                <% else %>
                                    <a href="<%= event.id %>" class="btn btn-large float-right send_notification">
                                        Send Notifications
                                    </a>
                                <% end %>

                            </div>  

                        <div class="event-details-list">
                            <% total_people_attending = 0%>
                            <% total_people_attending =  Attendee.where(:event_id => event.id).pluck(:seats).sum %>
                            <% if event.user_id.nil? %>
                                <% event_creator = "Akhilesh" %>
                            <% else %>
                                <% event_creator = User.find(event.user_id).name %>    
                            <% end %>
                            
                            <span><a  data-toggle="modal" href="#attendeeModal<%= event.id%>" class="btn" data-toggle="modal">View Attendees</a></span>
                            <span>Event date: <%= event.event_date.strftime("%d/%m/%Y") %> </span>
                            <span><%= total_people_attending %> People Attending</span>
                            <span>Rs. <%= total_people_attending * Restaurant.find(event.restaurant_id).price%> Expected Earning</span>
                            <span>Max seats: <%= event.max_seats %> </span>
                            <span>Created by: <%= event_creator %> </span>

                            <!-- Modal -->
                            <div id="attendeeModal<%= event.id%>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="<%= event.event_name%> Attendees" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                              <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h3 id="myModalLabel"><%= event.event_name %> Attendees</h3>
                                              </div>
                                              <div class="modal-body">
                                                <% attendees = Attendee.where("event_id = ?", event.id) %>
                                                <ul>
                                                    <% attendees.each do |attedee| %>
                                                        <% user = User.find(attedee.user_id) %>
                                                        <li>
                                                            <%= user.name %> - Phone number: <%= attedee.phone_number %> - Seats: <%= attedee.seats %> 
                                                        </li>
                                                    <% end %>
                                                    
                                                </ul>
                                              </div>
                                              <div class="modal-footer">
                                                <button class="btn btn-large" data-dismiss="modal" aria-hidden="true">Close</button>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                            <!-- End Modal -->
                            <!--<a href="#" class="btn btn-primary btn-small" >View Attendees</a>-->
                            
                        </div>
                    </li>                    
                <% end %>

            </ul>
            <% end %>
        </div>
    </div>
</div>



<script>
    $(document).ready(function(){
        $('.send_notification').click(function(event){
            //event.preventDefault();

            // Setting up the disabled state of the button
            $(this).addClass('disabled');
            $(this).text('Sending Reminders... ');
            $(this).append('<img src="/assets/loader.gif" alt="Loader">');

            var host = window.location.host;
            var url_to_submit_to = host + "/admin/event/send_notification";

            var event_id = $(this).attr('href');
            var data_to_send = "event_id=" + event_id;

            $.ajax({
              context: $(this),
              url: "/admin/event/send_notification",
              type: 'PUT',
              data: data_to_send,
              success: function(data){
                $(this).prev().prev().remove();
                $(this).prev().before('<div class="notification_status green"><i class="icon-ok" style="padding-right:5px;"></i></div>');
                $(this).hide();
              },
              error: function(data) {
                alert("Something went wrong. Please contact Prashant.");
              }
            });

            return false;
        });
    })
</script>


    <script>

        var lineChartData = {
            labels : ["January","February","March","April","May","June","July"],
            datasets : [
                {
                    fillColor : "rgba(220,220,220,0.5)",
                    strokeColor : "rgba(220,220,220,1)",
                    pointColor : "rgba(220,220,220,1)",
                    pointStrokeColor : "#fff",
                    data : [65,59,90,81,56,55,40]
                },
                {
                    fillColor : "rgba(151,187,205,0.5)",
                    strokeColor : "rgba(151,187,205,1)",
                    pointColor : "rgba(151,187,205,1)",
                    pointStrokeColor : "#fff",
                    data : [28,48,40,19,96,27,100]
                }
            ]
            
        }

    var myLine = new Chart(document.getElementById("canvas").getContext("2d")).Line(lineChartData);
    
    </script>

    <script>

        var doughnutData = [
                {
                    value: 30,
                    color:"#F7464A"
                },
                {
                    value : 50,
                    color : "#46BFBD"
                },
                {
                    value : 100,
                    color : "#FDB45C"
                },
                {
                    value : 40,
                    color : "#949FB1"
                },
                {
                    value : 120,
                    color : "#4D5360"
                }
            
            ];

    var myDoughnut = new Chart(document.getElementById("signupsVsAttendees").getContext("2d")).Doughnut(doughnutData);
    
    </script>

    <script>

        var doughnutData = [
                {
                    value: 30,
                    color:"#F7464A"
                },
                {
                    value : 50,
                    color : "#46BFBD"
                },
                {
                    value : 100,
                    color : "#FDB45C"
                },
                {
                    value : 40,
                    color : "#949FB1"
                },
                {
                    value : 120,
                    color : "#4D5360"
                }
            
            ];

    var myDoughnut = new Chart(document.getElementById("fbVsEmail").getContext("2d")).Doughnut(doughnutData);
    
    </script>