<script type="text/javascript">
$(function () {
        $('#container').highcharts({
            chart: {
                type: 'area',
            },
            title: {
                text: ''
            },
            xAxis: {
                type: 'datetime',
            },
            yAxis: {
                title: {
                    text: ''
                }
            },
            tooltip: {
                borderColor: "#fff",
                backgroundColor: "rgba(255,255,255,1)",
                pointFormat: '{series.name}: <b>{point.y:,.0f}</b> joined'
            },
            plotOptions: {
                area: {
                    marker: {
                        enabled: false,
                        symbol: 'circle',
                        radius: 2,
                        states: {
                            hover: {
                                enabled: true
                            }
                        }
                    }
                }
            },
            series: [{
                name: 'Signups',
                color: '#dd4124',
                fillColor: 'rgba(221,65,36,.2)',
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= 4.weeks.ago.to_i * 1000 %>,
                data: <%= (4.weeks.ago.to_date..Date.today).map {|date| User.total_signups_on(date).to_i}.inspect %>
            },
            {
                name: 'Attendees',
                color: '#83ca21',
                fillColor: 'rgba(131,202,33,.2)',
                pointInterval: <%= 1.day * 1000 %>,
                pointStart: <%= 4.weeks.ago.to_i * 1000 %>,
                data: <%= (4.weeks.ago.to_date..Date.today).map {|date| Attendee.total_joins_on(date).to_i}.inspect %>
            },
            ]
        });
    });
    

        </script>

<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <h1>Sign ups</h1>
            <div id="container" style="min-width: 100%; height: 400px; margin: 0 auto"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <h1>Stats</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row-fluid">
        <div class="span3 key_stat green">
            <%= User.total_signups_this_month %> Sign ups this month
        </div>
        <div class="span3 key_stat red">
            <%= Attendee.total_attendees_this_month %> attendees this month
        </div>
        <div class="span3 key_stat red">
            <%= Event.total_events_this_month%> events this month
        </div>
        <div class="span3 key_stat green">
            Revenue this month
        </div>
    </div>
</div>

<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <h1>Events</h1>
            
        </div>
    </div>
</div>

<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <% @event_list.each do |city,events| %>
                <h3><%= city %></h3>
                <ul class="event_list">
                    <% events.each do |event| %>
                        <li>
                            <div class="list-item-container">

                                <% if event.reminder == "sent" %>
                                    <div class="notification_status green">
                                    <i class="icon-ok"></i>    
                                <% else %>
                                    <div class="notification_status grey">
                                    <i class="icon-envelope-alt"></i>        
                                <% end %>
                                    </div>

                                <div class="eventDetails">
                                    <%= link_to event.event_name, event_path(event) %>
                                    <% if event.event_type == 'private' %>
                                        <span class="red">Private</span>        
                                    <% else %>
                                        <span class="green">Public</span>    
                                    <% end %>
                                </div> 

                                <% if event.reminder == "sent"%>
                                <% else %>
                                    <a href="<%= event.id %>" class="btn btn-large float-right send_notification">
                                        Send Notifications
                                    </a>
                                <% end %>

                            </div>  

                            <div class="event-details-list">
                                <% total_people_attending = 0%>
                                <% total_people_attending =  Attendee.where(:event_id => event.id).pluck(:seats).sum %>
                                <% if event.user_id.nil? %>
                                    <% event_creator = "Akhilesh" %>
                                <% else %>
                                    <% event_creator = User.find(event.user_id).name %>    
                                <% end %>
                                
                                <span>City: <%= event.city %></span>
                                <span>Event date: <%= event.event_date.strftime("%d/%m/%Y") %> </span>
                                <span><%= total_people_attending %> People Attending</span>
                                <span>Rs. <%= total_people_attending * Restaurant.find(event.restaurant_id).price%> Expected Earning</span>
                                <span>Max seats: <%= event.max_seats %> </span>
                                <span>Created by: <%= event_creator %> </span>

                                
                                <!--<a href="#" class="btn btn-primary btn-small" >View Attendees</a>-->
                                
                            </div>
                        </li>                    
                    <% end %>

                </ul>
            <% end %>
        </div>
    </div>
</div>



<script>
    $(document).ready(function(){
        $('.send_notification').click(function(event){
            //event.preventDefault();

            // Setting up the disabled state of the button
            $(this).addClass('disabled');
            $(this).text('Sending Reminders... ');
            $(this).append('<img src="/assets/loader.gif" alt="Loader">');

            var host = window.location.host;
            var url_to_submit_to = host + "/admin/event/send_notification";

            var event_id = $(this).attr('href');
            var data_to_send = "event_id=" + event_id;

            $.ajax({
              context: $(this),
              url: "/admin/event/send_notification",
              type: 'PUT',
              data: data_to_send,
              success: function(data){
                $(this).prev().prev().remove();
                $(this).prev().before('<div class="notification_status green"><i class="icon-ok" style="padding-right:5px;"></i></div>');
                $(this).hide();
              },
              error: function(data) {
                alert("Something went wrong. Please contact Prashant.");
              }
            });

            return false;
        });
    })
</script>
