<% content_for :javascript do%>
    <%= javascript_include_tag "admin/Chart" %>
    
<% end %>

<div class="row">
    <div class="col-md-12">
        <h3>Sign ups vs Attendees</h3>
        <!-- Responsive canvas fix: https://github.com/nnnick/Chart.js/issues/56 -->
        <canvas id="signupsVsAttendeesLine" height="300" width="1000"></canvas>
        <div class="legend">
            <div class="ledgentItemContainer">
                <div class="square light_blue"></div>
                Users
            </div>
            
            <div class="ledgentItemContainer">
                <div class="square dark_blue"></div>
                Attendees
            </div>
            
            
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h3 style="color:#ccc;">Sign ups vs Attenddes</h3>
        <p>Not done yet. This is just a place holder</p>
        <canvas id="signupsVsAttendees" height="300" width="300"></canvas>
    </div>
    <div class="col-md-6">
        <h3 style="color:#ccc;">FB vs Email signups</h3>
        <p>Not done yet. This is just a place holder</p>
        <canvas id="fbVsEmail" height="300" width="300"></canvas>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <h3>Stats for this month</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h3>
            <div class="stat">
                <strong><%= User.total_signups_this_month %></strong> 
                <div class="statTitle">
                    Sign ups 
                </div>
            </div>
            
        </h3>
    </div>
    <div class="col-md-3">
        <h3>
            <div class="stat">
                <strong>
                    <%= Attendee.total_attendees_this_month %>
                </strong> 
                <div class="statTitle">
                    Attendees
                </div>
            </div>
        </h3>  
    </div>
    <div class="col-md-3">
        <h3>
            <div class="stat">
                <strong>
                    <%= Event.total_events_this_month%>
                </strong> 
                <div class="statTitle">
                    Events
                </div>
            </div>
        </h3>
    </div>
    <div class="col-md-3">
        <h3>
            <div class="stat">
                <strong>
                    
                </strong> 
                <div class="statTitle">
                    Revenue
                </div>
            </div>
        </h3>
        
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <h3>Events</h3>
        <p>The send notifications button below does not work right now. Clicking on it will not do anything</p>
        <button class="button is-letsdine-primary">Send Notifications for Upcoming Events</button>
        <%= render partial: 'admin/events/events',  :locals => {:event_list => @event_list} %>
    </div>
</div>

<% @event_list.each do |city,events| %>
    <% events.each do |event| %>
        <!-- Modal -->
        <div id="attendeeModal<%= event.id%>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="<%= event.event_name%> Attendees" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="myModalLabel"><%= event.event_name %> Attendees</h3>
                          </div>
                          <div class="modal-body">
                            <% attendees = Attendee.where("event_id = ?", event.id) %>
                            <ul>
                                <% attendees.each do |attedee| %>
                                    <% user = User.find(attedee.user_id) %>
                                    <li>
                                        <%= user.name %> - Phone number: <%= attedee.phone_number %> - Seats: <%= attedee.seats %> 
                                    </li>
                                <% end %>
                                
                            </ul>
                          </div>
                          <div class="modal-footer">
                            <button class="btn btn-large" data-dismiss="modal" aria-hidden="true">Close</button>
                          </div>
                        </div>
                    </div>
                </div>
        <!-- End Modal -->
    <% end %>
<% end %>


<script>
    $(document).ready(function(){
        $('.send_notification').click(function(event){
            //event.preventDefault();

            // Setting up the disabled state of the button
            $(this).addClass('disabled');
            $(this).text('Sending Reminders... ');
            $(this).append('<img src="/assets/loader.gif" alt="Loader">');

            var host = window.location.host;
            var url_to_submit_to = host + "/admin/event/send_notification";

            var event_id = $(this).attr('href');
            var data_to_send = "event_id=" + event_id;

            $.ajax({
              context: $(this),
              url: "/admin/event/send_notification",
              type: 'PUT',
              data: data_to_send,
              success: function(data){
                $(this).prev().prev().remove();
                $(this).prev().before('<div class="notification_status green"><i class="icon-ok" style="padding-right:5px;"></i></div>');
                $(this).hide();
              },
              error: function(data) {
                alert("Something went wrong. Please contact Prashant.");
              }
            });

            return false;
        });
    })
</script>


    <script>                
        var lineChartData = {
            labels : ["Three weeks ago","Two weeks ago","Last week","This week"],
            datasets : [
                {
                    fillColor : "rgba(220,220,220,0.5)",
                    strokeColor : "rgba(220,220,220,1)",
                    pointColor : "rgba(220,220,220,1)",
                    pointStrokeColor : "#fff",
                    data : <%= @users %>
                },
                {
                    fillColor : "rgba(151,187,205,0.5)",
                    strokeColor : "rgba(151,187,205,1)",
                    pointColor : "rgba(151,187,205,1)",
                    pointStrokeColor : "#fff",
                    data : <%= @attendees %>
                }
            ]
            
        }

        

    var myLine = new Chart(document.getElementById("signupsVsAttendeesLine").getContext("2d")).Line(lineChartData, {

    });
    
    </script>

    <script>

        var doughnutData = [
                {
                    value: 50,
                    color:"#F7464A"
                },
                {
                    value : 20,
                    color : "#46BFBD"
                }
            ];

    var myDoughnut = new Chart(document.getElementById("signupsVsAttendees").getContext("2d")).Doughnut(doughnutData);
    
    </script>

    <script>

        var doughnutData = [
                {
                    value: 30,
                    color:"#F7464A"
                },
                {
                    value : 50,
                    color : "#46BFBD"
                },
                {
                    value : 100,
                    color : "#FDB45C"
                },
                {
                    value : 40,
                    color : "#949FB1"
                },
                {
                    value : 120,
                    color : "#4D5360"
                }
            
            ];

    var myDoughnut = new Chart(document.getElementById("fbVsEmail").getContext("2d")).Doughnut(doughnutData);
    
    </script>