<div class="container">
	<div class="contentContainer">

		<div class="row">
			<div class="col-md-12">
				<h1>Historic Data</h1>
			</div>
		</div>



		<div class="row">
			<div class="col-md-12">
				<% counter = 0%>
				<table class="table table-striped">
					<tr>
						<th>Month</th>
						<th>Events</th>
						<th>Total Attendees</th>
						<th>Total signups</th>
					</tr>

						<% @event_months.keys.sort.each do |month| %>
						<% @cancelled_events = [] %>
						<% events_conducted = [] %>
						<% logger.debug "The month thingy is: #{month}" %>
						<% total_signups = User.where('created_at BETWEEN ? AND ?', month.beginning_of_month, month.end_of_month).count%>
					<tr>
						<td>
							<h3><%= month.strftime('%B') %></h3>
						</td>
						<td>
							<% total_events = @event_months[month].count %>
							<div>
								Total: <%= @event_months[month].count %>
							</div>
							
							<% total_attendees_in_a_month = 0%>

							<% @event_months[month].each do |event| %>
								<% event_attendees = Attendee.where(:event_id => event.id).pluck(:seats).sum%>
								<% total_attendees_in_a_month = total_attendees_in_a_month + event_attendees%>
								<% if event_attendees < 4 %>
									<% @cancelled_events << event %>	
								<% else %>
									<% events_conducted << event %>
								<% end %>
							<% end %>
							<div>
								Cancelled: <%= @cancelled_events.count %>

								<!-- Button trigger modal -->
							<a data-toggle="modal" href="#<%= counter %>">See cancelled events</a>

							<%= render partial: 'modal',  :locals => {:cancelled_events => @cancelled_events, :counter => counter, :modal_title => "Cancelled event list"} %>
							<% counter = counter + 1%>
							</div>
							
							<div>
								Actual: <%= total_events - @cancelled_events.count%>
								
								<a data-toggle="modal" href="#<%= counter %>">See events conducted</a>

								<%# This finds all the events that are not in the cancelled events array. But it does it for ALL events in the database, but that is not required right now. I just need the records for this month%>
								<%# events_conducted = Event.find(:all, :conditions => ['id not in (?)', @cancelled_events.map(&:id)])%>
								
								<%= render partial: 'modal',  :locals => {:cancelled_events => events_conducted, :counter => counter, :modal_title => "Conducted event list"} %>
								<% counter = counter + 1%>
							</div>
						</td>
						<td>
							<%= total_attendees_in_a_month%>
						</td>
						<td>
							<%= total_signups %>
						</td>
						
						<% end %>
					</tr>
				</table>
				
			</div>
			
		</div>

		<div class="row">
			<div class="col-md-12">
				<h1>Most Popular Events</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<table class="table table-striped">
					<tr>
						<th>Event name</th>
						<th>Attendees</th>
						<th>City</th>
					</tr>
					<% @popular_events.each do |event|%>
					<tr>
						<td><%= event.event_name%></td>
						<td><%= event.total_attendees %></td>
						<td><%= event.city %></td>
					</tr>
					<% end %>
				</table>
			</div>
		</div>

	</div>

</div>

