<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>LetsDine</title>

	
	<%= stylesheet_link_tag    "admin/application", :media => "all" %>
	<%= stylesheet_link_tag    "bootstrap", :media => "all" %>	
	<%= stylesheet_link_tag    "font-awesome", :media => "all" %>
	<%= stylesheet_link_tag    "admin/admin", :media => "all" %>
	<%= stylesheet_link_tag    "admin/simple-sidebar", :media => "all" %>
	<%= stylesheet_link_tag    "admin/buttons", :media => "all" %>

	<%= yield :stylesheet %>	

	<%= javascript_include_tag "admin/application" %>
	<%= javascript_include_tag "jquery-1.10.2.min" %>
	<%= javascript_include_tag "bootstrap" %>
	<%= javascript_include_tag "admin/highcharts" %>
	<%= javascript_include_tag "admin/newEvent" %>
	
	<%= yield :javascript %>	
	
	<!-- Typekit Fonts -->
	<!--
    <script type="text/javascript" src="//use.typekit.net/yjy6rjo.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	-->
	
	<%= csrf_meta_tags %>

</head>
<body>


    <div id="wrapper">
      
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav {{ active }}" ng-click="$event.preventDefault()">
          <li class="sidebar-brand"><a href="/">LetsDine Admin</a></li>
          <li><a href="/admin" class="dashboard" ng-click="active='dashboard'">Dashboard</a></li>
          <li><a href="/admin/events" class="events" ng-click="active='events'">Events</a></li>
          <li><a href="/admin/restaurants" class="restaurants" ng-click="active='restaurants'">Restaurants</a></li>
          <li><a href="/admin/users" class="users" ng-click="active='users'">Users</a></li>
          <li><a href="/admin/history" class="serverStuff" ng-click="active='serverStuff'">Server Stuff</a></li>
        </ul>
      </div>
          
      <!-- Page content -->
      <div id="page-content-wrapper" ng-controller="EventListCtrl">
		<div class="content-header">
			<h1>
				<a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
				Dashboard
			</h1>
		</div>

      	<!-- Keep all page content within the page-content inset div! -->
        	<div class="page-content inset">
        		<%= yield %>	
        	</div>
      </div>
      
    </div>


    <!--
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<ul>
						<li><a href="/admin">Dashboard</a></li>
						<li><a href="/admin/users">Users</a></li>
						<li><a href="/admin/restaurants">Restaurants</a></li>
						<li><a href="/admin/events">Events</a></li>
						<li><a href="/admin/invites">Invites</a></li>
						<li><a href="/admin/history">History</a></li>	
					</ul>
				</div>
				<div class="col-md-4 user_info">
					<% if user_signed_in? %>
						<%= link_to " Sign out", destroy_user_session_path %><span><%= current_user.name %> |</span>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	-->


    <!-- Put this into a custom JavaScript file to make things more organized -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
    </script>

</body>

</html>
