<%# form_for(@admin_restaurant, :html => {:multipart => true}, :url => admin_restaurant_path) do |f| %>
<%# form_for[:admin, @admin_restaurant, :html => {:multipart => true}] do |f| %>
<%= form_for [:admin, @admin_restaurant], :html => {:multipart => true} do |f| %>
  <% if @admin_restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @admin_restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :latitude%>
    <%= f.number_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude%>
    <%= f.number_field :longitude %>
  </div>
  <div class="field">
    <p>
      By default any new restaurant created is shown in the event/new page. If you want to hide the restaurant from that list set this field to hidden 
    </p>
    <%= f.label :status %>
    <%= f.select :status, [ 'open', 'hidden'], :prompt => 'Select One' %>
  </div>
  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :commission_percentage %>
    <p>Put this as a percentage of the price above.</p>
    <%= f.number_field :commission_percentage %>
  </div>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :cusine %>
    <%= f.text_field :cusine %>
  </div>
  <div class="field">
    <%= f.label :photo %>
    <%= f.file_field :photo %>
  </div>
  <%= f.fields_for :menu_items do |builder|%>
    <div class="field">
      <%= builder.label :name, "Menu Item Name" %>
      <%= builder.text_area :name, :rows => 3 %>
      <%= builder.hidden_field :_destroy %>
      <%= link_to_function "remove", "remove_fields(this)" %>
    </div>
    <div class="field">
      <%= builder.label :course_name, "Menu Item type" %>
      <%= builder.text_field :course_name, :rows => 3 %>
      <%= builder.hidden_field :_destroy %>
      <%= link_to_function "remove", "remove_fields(this)" %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
