<% content_for :javascript do %>
    <%= javascript_include_tag "closed-event-overlay" %>
<% end %>

<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <h1>How it works</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row-fluid">

        <div class="span4">
            <div class="headerImage-red">
                
            </div>
            <h4>Create events</h4>
            <p>
                Create a dining event to meet, interact and network with like-minded people from your city! Or create a dining event to meet family and friends for all your special occasions.
            </p>
            <a href=""></a>
        </div>

        <div class="span4">
            <div class="headerImage-blue">
            </div>
            <h4>Join events</h4>
            <p>
                Browse all dining events happening in your city and and join the events that interest you.
            </p>
        </div>

        <div class="span4">
            <div class="headerImage-green">
            </div>
            <h4>Join the community</h4>
            <p>
                Sign up for a free account and we will keep you informed about all the events that happen in your city.
            </p>
        </div>

    </div>
</div>

<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <h1>Events</h1>
        </div>
    </div>
</div>

<div class="content">
        <div class="container">
            <% eventCount = 0 %>
            <% @events.each do |event| %>
                <% restaurant = event.restaurant %>

                <% if ( eventCount%4 ) == 0 %>
                    <div class="row-fluid">  
                <% end %>

                <div class="span3">
                    
                    <%# Todo: Right now I have setup the special field in the event table as a string value. This needs to be changed to a boolean. Right now using a boolean value seems to ruby interpret the values incorrectly when they are coming in the params. Need to figure out why this is happening and fix it. %>
                    <% if event.special == "true" %>
                        <div class="event_special">
                    <% else %>
                        <div class="event white_background">    
                    <% end %>

                        <% if event.event_image.blank? %>
                            <%= image_tag restaurant.photo_url.to_s %>
                        <% else %>
                            <%= image_tag event.event_image_url.to_s %>
                        <% end %>

                        <% if event.status == 'closed' || event.status == "full" %>
                            <div class="closed">
                                <% if event.status == "full" %>
                                    <h3>Full</h3>
                                <% else %>
                                    <h3>Closed</h3>    
                                <% end %>
                            </div>    
                        <% end %>
                        
                        <h3><%= link_to event.event_name, event_path(event) %></h3>
                        <div class="seats_left_event_page">
                            <% seats_left = event.max_seats - event.attendee.pluck(:seats).sum %>
                            <%= seats_left %> Seats left
                        </div>
                        <div class="eventDetails">
                            <div class="detail">
                                <img src="/assets/locationIcon.png">
                                <%= restaurant.name %>
                            </div>

                            <div class="detail">
                                <img src="/assets/timeIcon.png">
                                <%= event.event_date.strftime("%d %B %Y") %>
                                <%= event.event_time.strftime("%I:%M%p") %>
                            </div>
                        </div>
                        <p>
                            <%= truncate(event.event_description, :length => 100) %> <%= link_to "See event", event_path(event) %>
                        </p>
                        <div class="peopleAttending">
                            <% event.attendee.first(4).each do |attendee| %>
                                <% if attendee.user.image.blank? %>
                                    <%= image_tag "/assets/noProfilePic.png", "data-toggle" => "tooltip", :title => attendee.user.name, :class => "profilePic" %>    
                                <% else %>
                                    <%= image_tag attendee.user.image.to_s, "data-toggle" => "tooltip", :title => attendee.user.name, :class => "profilePic" %>    
                                <% end %>

                            <% end %>
                            <p>
                                <%= link_to "See All People Attending", event_path(event) %>
                            </p>
                        </div>
                    </div>
                </div>    

                <% if ( eventCount%3 ) == 0 && eventCount != 0%>
                    </div>        
                    <% eventCount = 0 %>
                <% else %>
                    <% eventCount = eventCount + 1 %>
                <% end %>                
                <%# Closing tag for the new row div %>
                
            <% end %>
        </div>
    </div>   



<div id="communication" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>No events in your city</h3>
  </div>
  <div class="modal-body">

    <p>There are no events in your city right now. Leave your email address and we will get back to you once we start conducting events in your city</p>
    
    <%= form_for(@new_city_notification, :remote => true) do |f| %>
        <% if  request.location.nil? %>
            
        <% else %>
            <div class="field">
                <%= f.hidden_field :city, :value => request.location.city %>
            </div>    
        <% end %>
        <div class="field">
            <%= f.label :email %>
            <%= f.text_field :email, :placeholder => "Enter your email address" %>
        </div>    

  </div>
  <div class="modal-footer">
    <%= f.submit "Keep me informed", :class => "large awesome green", :id => "keep_me_informed"  %>
  </div>
  <% end %>
</div>



<% if @no_events_in_city == true %>
    <script>
    $(document).ready(function(){
      $('#communication').modal('show');
      $('#keep_me_informed').click(function(event) {
        var valuesToSubmit = $('#new_new_city_notification').serialize();
        $.ajax({
          url: $('#new_new_city_notification').attr('action'),
          data: valuesToSubmit,
          type: "POST",
          dataType: "JSON"
        }).success(function(json){
            $('#communication').modal('hide');
        });
        return false;
      });
    });
  </script>  
<% end %>
            
