<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <div class="zoomflow">
                <div class="items">
                    <div class="item-tobe" data-source="/assets/img/1.jpg">
                        <div class="captionCon">
                            <div style="left: 51%; top: 55px; width:260px;" data-delay="secs0-5" data-effect=" unblur-white unscale fade" class="caption style_bigtitle"> PRESENTING
                            </div>
                            <div style="left: 51%; top: 110px; width:260px;" data-delay="secs1-5" data-effect="unblur-white unscale fade" class="caption style_bigtitle"> ZoomFlow
                            </div>
                            <div style="left: 55%; top: 170px; width:35%; text-align:right; opacity:0.3;" data-delay="secs2-0" data-effect="unblur-white unscale fade" class="caption style_bigtitle"> A spectacular banner rotator to showcase your portfolio.
                            </div>
                        </div>
                    </div>
                    <div class="item-tobe" data-source="/assets/img/2.jpg">
                        <div style="display: block; opacity: 1;" class="captionCon">
                            <div style="left: 50px; top: 50px; color: #e5dc77;" data-delay="0.7" data-effect="slideright fade" class=" caption style_bigtitle"> RESPONSIVE
                            </div>
                            <div style="left: 163px; top: 53px; font-size: 16px;" data-delay="" data-effect="slideright fade" class=" caption style_bigtitle"> AND
                            </div>
                            <div style="left: 50px; top: 80px; width:200px; text-align:left;" data-delay="secs0-5" data-effect="slideright fade" class=" caption style_bigtitle"> TOUCH ENABLED
                            </div>
                        </div>
                    </div>
                    <div class="item-tobe" data-source="/assets/img/3.jpg">
                        <div style="" class="captionCon">
                            <div style="left: 0px; bottom: 10px; width: 100%" data-delay="" data-effect="slidebottom fade" class=" caption bg-lightblue style_noir"> Have <a href="http://bit/ly/nM4R6u" target="_blank">links</a> inside the captions, titles and any html content.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
        <div class="container">
            <% eventCount = 0 %>
            <% @events.each do |event| %>
                <% restaurant = Restaurant.find(event.restaurant_id) %>
                <%# Checking if a new row has to be created %>
                <% if ( eventCount%4 ) == 0 %>
                    <div class="row-fluid">        
                <% end %>

                <div class="span3">
                    <div class="event">
                        <% if event.event_image.blank? %>
                            <%= image_tag restaurant.photo_url.to_s %>
                        <% else %>
                            <%= image_tag event.event_image_url.to_s %>
                        <% end %>
                        <h3><%= link_to event.event_name, event_path(event) %></h3>
                        <div class="eventDetails">
                            <div class="detail">
                                <img src="/assets/locationIcon.png">
                                <%= restaurant.name %>
                            </div>
                            <div class="detail">
                                <img src="/assets/timeIcon.png">
                                <%= event.event_date.strftime("%d %B %Y") %>
                                <%= event.event_time.strftime("%I:%M%p") %>
                            </div>
                        </div>
                        <p>
                            <%= event.event_description %> <%= link_to "See event", event_path(event) %>
                        </p>
                        <div class="peopleAttending">
                        <% event.attendee.each do |personAttending| %> 
                            <% if personAttending.blank? %>
                                <%= image_tag "noProfilePic" %>
                            <% else %>
                            <% end %>
                        <% end %>
                        </div>
                        <div class="peopleAttending">
                            <% event.attendee.each do |personAttending| %>
                                <% user =  User.find(personAttending.user_id) %>
                                <%= image_tag "/assets/noProfilePic.png", "data-toggle" => "tooltip", :title => user.name, :class => "profilePic" %>
                              <% end %>
                        </div>
                    </div>
                </div>    

                <% if ( eventCount%3 ) == 0 && eventCount != 0%>
                    </div>        
                <% end %>                
                <%# Closing tag for the new row div %>
                <% eventCount = eventCount + 1 %>
            <% end %>
        </div>
    </div>   

            
<script>
    jQuery(document).ready(function($){
        jQuery(".zoomflow").zoomflow({
            settings_slideshowTime:5
            ,design_padding:150
        });
    });
</script>