<p id="notice"><%= notice %></p>

<p>
  <b>Params:</b>
  <%= @payment_notification.params %>
</p>

<p>
  <b>Cart:</b>
  <%= @payment_notification.cart_id %>
</p>

<p>
  <b>Status:</b>
  <%= @payment_notification.status %>
</p>

<p>
  <b>Ref:</b>
  <%= @payment_notification.ref_id %>
</p>

<p>
  <b>Error description:</b>
  <%= @payment_notification.error_description %>
</p>

<p>
  <b>Create:</b>
  <%= @payment_notification.create %>
</p>


<%= link_to 'Edit', edit_payment_notification_path(@payment_notification) %> |
<%= link_to 'Back', payment_notifications_path %>
