<%restaurant = Restaurant.find(event.restaurant_id)%>
<div class="col-md-4">
	<div class="eventListingItem">
		<div class="imageWithOverlay">
			<% if event.event_image.blank? %>
				<%= image_tag restaurant.photo, :class=> "img-responsive" %>
			<% else %>
				<%= image_tag event.event_image, :class=> "img-responsive" %>
			<% end %>
			
			<div class="eventDate">
				<span><%= event.event_date.strftime("%A %d - %B")%> </span>
			</div>
			<div class="seatsLeft">
				<%= event.seats_left %> Seats Left
			</div>
		</div>

		<div class="eventListingContent">
			<h4><%= link_to event.event_name, event_path(event) %></h4>
			<span>
				<i class="icon-map-marker"></i>
				<%= restaurant.name %>
			</span>   
			<%= truncate(event.event_description, :length => 100) %> <%= link_to "See event", event_path(event) %>
		</div>
	</div>
</div>