<div class="content">
        <div class="container">
            <% eventCount = 0 %>
            <% @events.each do |event| %>
                <% restaurant = Restaurant.find(event.restaurant_id) %>
                <%# Checking if a new row has to be created %>
                <% if ( eventCount%4 ) == 0 %>
                    <div class="row-fluid">        
                <% end %>

                <div class="span3">
                    <div class="event">
                        <% if event.event_image.blank? %>
                            <%= image_tag restaurant.photo_url.to_s %>
                        <% else %>
                            <%= image_tag event.event_image_url.to_s %>
                        <% end %>
                        <h3><%= link_to event.event_name, event_path(event) %></h3>
                        <div class="eventDetails">
                            <div class="detail">
                                <img src="/assets/locationIcon.png">
                                <%= restaurant.address %>
                            </div>
                            <div class="detail">
                                <img src="/assets/timeIcon.png">
                                <%= event.event_time %>
                            </div>
                        </div>
                        <p>
                            <%= event.event_description %> <%= link_to "See event", event_path(event) %>
                        </p>
                        <div class="peopleAttending">
                        <% event.attendee.each do |personAttending| %> 
                            <% if personAttending.blank? %>
                                <%= image_tag "noProfilePic" %>
                            <% else %>
                            <% end %>
                        <% end %>
                        </div>
                        <div class="peopleAttending">
                            <a href="#" id="jl" data-toggle="tooltip" title="first tooltip"><img src="img/Jennifer-Lawrence-Thumbnail.jpg"></a>
                            <img src="img/hugh-jackman-thumbnail.jpg">
                            <img src="img/noProfilePic.png">
                            <img src="img/noProfilePic.png">
                            <img src="img/noProfilePic.png">
                            <p>
                                <%= link_to "See All People Attending", event_path(event) %>
                            </p>
                        </div>
                    </div>
                </div>    

                <% if ( eventCount%3 ) == 0 && eventCount != 0%>
                    </div>        
                <% end %>                
                <%# Closing tag for the new row div %>
                <% eventCount = eventCount + 1 %>
            <% end %>
        </div>
    </div>
    

            
