<% content_for :javascript do %>
    <%= javascript_include_tag "closed-event-overlay" %>
<% end %>

<div class="content">
        <div class="container">
            <% eventCount = 0 %>
            <% @events.each do |event| %>
                <% restaurant = event.restaurant %>
                <%# Checking if a new row has to be created %>
                <% if eventCount == 0 %>
                    <div class="row-fluid">        
                <% end %>

                <div class="span3">
                    <div class="event">
                        <% if event.event_image.blank? %>
                            <%= image_tag restaurant.photo_url(:large_scaled).to_s %>
                        <% else %>
                            <%= image_tag event.event_image_url(:large_scaled).to_s %>
                        <% end %>
                        <% if event.status == 'closed' || event.status == "full" %>
                            <div class="closed">
                                <% if event.status == "full" %>
                                    <h3>Full</h3>
                                <% else %>
                                    <h3>Closed</h3>    
                                <% end %>
                            </div>    
                        <% end %>
                        <h4><%= link_to event.event_name, event_path(event) %></h4>
                        <div class="seats_left_event_page">
                            <% if event.attendee.nil? %>
                                <% seats_left = event.max_seats %>    
                            <% else %>
                                <% seats_left = event.max_seats - event.attendee.pluck(:seats).sum %>
                            <% end %>
                            <%= seats_left %> Seats left
                        </div>
                        <div class="eventDetails">
                            <div class="detail">
                                <img src="/assets/locationIcon.png">
                                <%= restaurant.name %>
                            </div>
                            <div class="detail">
                                <img src="/assets/timeIcon.png">
                                <%= event.event_date.strftime("%d %B %Y") %>
                                <%= event.event_time.strftime("%I:%M%p") %>
                            </div>
                        </div>
                        <p>
                            <%= truncate(event.event_description, :length => 100) %> <%= link_to "See event", event_path(event) %>
                        </p>
                        <div class="peopleAttending">
                            <% event.attendee.first(4).each do |attendee| %>
                                <% user = attendee.user %>
                                <% if user.image.blank? %>
                                    <%= image_tag "/assets/noProfilePic.png", "data-toggle" => "tooltip", :title => user.name, :class => "profilePic" %>    
                                <% else %>
                                    <%= image_tag user.image.to_s, "data-toggle" => "tooltip", :title => user.name, :class => "profilePic" %>    
                                <% end %>
                            <% end %>
                            <p>
                              <%= link_to "See All People Attending", event_path(event) %>
                            </p>
                        </div>
                    </div>
                </div>    

                <% if ( eventCount% 3) == 0 && eventCount != 0%>
                    </div>        
                    <% eventCount = 0 %>    
                <% else %>
                    <% eventCount = eventCount + 1 %>    
                <% end %>                
                <%# Closing tag for the new row div %>
                
            <% end %>
        </div>
    </div>
    


