<div class="content">
        <div class="container">
            <div class="row-fluid">
                <div class="span3">
                    <div class="event">
                        <img src="img/eventImage.png">
                        <h3>Event Name</h3>
                        <div class="eventDetails">
                            <div class="detail">
                                <img src="img/locationIcon.png">
                                Event Location
                            </div>
                            <div class="detail">
                                <img src="img/timeIcon.png">
                                Event Time
                            </div>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget ante eros, eu vulputate metus. Vestibulum commodo dui sit amet ligula suscipit porta eu vulputate ligula... <a href="#">See event</a>
                        </p>
                        <div class="peopleAttending">
                            <a href="#" id="jl" data-toggle="tooltip" title="first tooltip"><img src="img/Jennifer-Lawrence-Thumbnail.jpg"></a>
                            <img src="img/hugh-jackman-thumbnail.jpg">
                            <img src="img/noProfilePic.png">
                            <img src="img/noProfilePic.png">
                            <img src="img/noProfilePic.png">
                            <p><a href="#">5 Other People Attending</a></p>
                        </div>

                    </div>
                    
                </div>
                <div class="span3">
                    <div class="event">
                        <img src="img/eventImage.png">
                        <h3>Event Name</h3>
                        <div class="eventDetails">
                            <div class="detail">
                                <img src="img/locationIcon.png">
                                Event Location
                            </div>
                            <div class="detail">
                                <img src="img/timeIcon.png">
                                Event Time
                            </div>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget ante eros, eu vulputate metus. Vestibulum commodo dui sit amet ligula suscipit porta eu vulputate ligula... <a href="#">See event</a>
                        </p>

                        <div class="peopleAttending">
                            <img src="img/Jennifer-Lawrence-Thumbnail.jpg"> 
                            <img src="img/hugh-jackman-thumbnail.jpg">
                            <img src="img/noProfilePic.png">
                            <img src="img/noProfilePic.png">
                            <img src="img/noProfilePic.png">
                            <p><a href="#">5 Other People Attending</a></p>
                        </div>
                    </div>


                </div>
                <div class="span3">
                    <div class="event">
                        <img src="img/eventImage.png">
                        <h3>Event Name</h3>
                        <div class="eventDetails">
                            <div class="detail">
                                <img src="img/locationIcon.png">
                                Event Location
                            </div>
                            <div class="detail">
                                <img src="img/timeIcon.png">
                                Event Time
                            </div>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget ante eros, eu vulputate metus. Vestibulum commodo dui sit amet ligula suscipit porta eu vulputate ligula... <a href="#">See event</a>
                        </p>
                        <div class="peopleAttending">
                            <img src="img/Jennifer-Lawrence-Thumbnail.jpg"> 
                            <img src="img/hugh-jackman-thumbnail.jpg">
                            <img src="img/noProfilePic.png">
                            <img src="img/noProfilePic.png">
                            <img src="img/noProfilePic.png">
                            <p><a href="#">5 Other People Attending</a></p>
                        </div>
                    </div>
                </div>
                <div class="span3">
                    <div class="event">
                        <img src="img/eventImage.png">
                        <h3>Event Name</h3>
                        <div class="eventDetails">
                            <div class="detail">
                                <img src="img/locationIcon.png">
                                Event Location
                            </div>
                            <div class="detail">
                                <img src="img/timeIcon.png">
                                Event Time
                            </div>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget ante eros, eu vulputate metus. Vestibulum commodo dui sit amet ligula suscipit porta eu vulputate ligula... <a href="#">See event</a>
                        </p>
                        <div class="peopleAttending">
                            <img src="img/Jennifer-Lawrence-Thumbnail.jpg"> 
                            <img src="img/hugh-jackman-thumbnail.jpg">
                            <img src="img/noProfilePic.png">
                            <img src="img/noProfilePic.png">
                            <img src="img/noProfilePic.png">
                            <p><a href="#">5 Other People Attending</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span3">
                    <div class="event">
                        <img src="img/eventImage.png">
                        <h3>Event Name</h3>
                        <div class="eventDetails">
                            <div class="detail">
                                <img src="img/locationIcon.png">
                                Event Location
                            </div>
                            <div class="detail">
                                <img src="img/timeIcon.png">
                                Event Time
                            </div>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget ante eros, eu vulputate metus. Vestibulum commodo dui sit amet ligula suscipit porta eu vulputate ligula... <a href="#">See event</a>
                        </p>
                        <div class="peopleAttending">
                            <img src="img/Jennifer-Lawrence-Thumbnail.jpg"> 
                            <img src="img/hugh-jackman-thumbnail.jpg">
                            <img src="img/noProfilePic.png">
                            <img src="img/noProfilePic.png">
                            <img src="img/noProfilePic.png">
                            <p><a href="#">5 Other People Attending</a></p>
                        </div>
                    </div>
                    
                </div>
                <div class="span3">
                    <div class="event">
                        <img src="img/eventImage.png">
                        <h3>Event Name</h3>
                        <div class="eventDetails">
                            <div class="detail">
                                <img src="img/locationIcon.png">
                                Event Location
                            </div>
                            <div class="detail">
                                <img src="img/timeIcon.png">
                                Event Time
                            </div>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget ante eros, eu vulputate metus. Vestibulum commodo dui sit amet ligula suscipit porta eu vulputate ligula... <a href="#">See event</a>
                        </p>
                        <div class="peopleAttending">
                            <a href="#"><img src="img/Jennifer-Lawrence-Thumbnail.jpg"></a>
                            <img src="img/hugh-jackman-thumbnail.jpg">
                            <img src="img/noProfilePic.png">
                            <img src="img/noProfilePic.png">
                            <img src="img/noProfilePic.png">
                            <p><a href="#">5 Other People Attending</a></p>
                        </div>
                    </div>
                </div>
                <div class="span3">
                    <div class="event">
                        <img src="img/eventImage.png">
                        <h3>Event Name</h3>
                        <div class="eventDetails">
                            <div class="detail">
                                <img src="img/locationIcon.png">
                                Event Location
                            </div>
                            <div class="detail">
                                <img src="img/timeIcon.png">
                                Event Time
                            </div>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget ante eros, eu vulputate metus. Vestibulum commodo dui sit amet ligula suscipit porta eu vulputate ligula... <a href="#">See event</a>
                        </p>
                        <div class="peopleAttending">
                            <img src="img/Jennifer-Lawrence-Thumbnail.jpg"> 
                            <img src="img/hugh-jackman-thumbnail.jpg">
                            <img src="img/noProfilePic.png">
                            <img src="img/noProfilePic.png">
                            <img src="img/noProfilePic.png">
                            <p><a href="#">5 Other People Attending</a></p>
                        </div>
                    </div>
                </div>
                <div class="span3">
                    <div class="event">
                        <img src="img/eventImage.png">
                        <h3>Event Name</h3>
                        <div class="eventDetails">
                            <div class="detail">
                                <img src="img/locationIcon.png">
                                Event Location
                            </div>
                            <div class="detail">
                                <img src="img/timeIcon.png">
                                Event Time
                            </div>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget ante eros, eu vulputate metus. Vestibulum commodo dui sit amet ligula suscipit porta eu vulputate ligula... <a href="#">See event</a>
                        </p>
                        <div class="peopleAttending">
                            <img src="img/Jennifer-Lawrence-Thumbnail.jpg"> 
                            <img src="img/hugh-jackman-thumbnail.jpg">
                            <img src="img/noProfilePic.png">
                            <img src="img/noProfilePic.png">
                            <img src="img/noProfilePic.png">
                            <p><a href="#">5 Other People Attending</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<h1>Listing events</h1>

<table>
  <tr>
    <th>Event name</th>
    <th>Event description</th>
    <th>Event date</th>
    <th>Event time</th>
    <th>Restaurant</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.event_name %></td>
    <td><%= event.event_description %></td>
    <td><%= event.event_date %></td>
    <td><%= event.event_time %></td>
    <td><%= event.restaurant_id %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
