<% content_for :javascript do %>
    <%= javascript_include_tag "closed-event-overlay" %>
<% end %>

<% restaurant = Restaurant.find(@event.restaurant_id) %>
<input type="hidden" value=<%= @event.id %> id="event_id" >

<div class="container">
  <div class="row-fluid">
    <div class="span6">
      <div class="eventDetailsImage">
        <% if @event.event_image.blank? %>
            <%= image_tag restaurant.photo_url.to_s %>
        <% else %>
            <%= image_tag @event.event_image_url.to_s %>
        <% end %>
        <% if @event.status == 'closed' || @event.status == 'full' %>
            <div class="closed">
              <% if @event.status == 'full' %>
                <h3>Full</h3>
              <% else %>
                <h3>Closed</h3>
              <% end %>
                
            </div>    
        <% end %>

        <div class="event_date_time">
          <%= @event.event_date.strftime("%d %B %Y") %>
          <%= @event.event_time.strftime("%I:%M%p") %>
        </div>
      </div>
    </div>
    <div class="span6">
      <h1><%= @event.event_name %></h1>    
      <h3>Price: Rs <%= restaurant.price %></h3>
      <address>
        <strong><%= restaurant.name %></strong>
        <br>
        <%= restaurant.address %>  
      </address>
      
      
      <p>
        <%= @event.event_description %>      
      </p>

      <% if @event.status == "closed" || @event.status == "full" %>
          <%= render :partial => "event_notify_emails/form",
                      :locals => {:event_id => @event.id} %>
      <% else %>
        <% if @already_signed_up == true %>
          <h4>You have already signed up for this event</h4>          
          <p>If you want to increase the number of people that will be coming along with you, please drop us an email at hello@gyeser.com and we will get back to you regarding the changes. </p>
        <% else %>
          <%# Join form %>
          <%= form_for @attendee, :url => attendee_path, :html => {:method => :post} do |f|%>
            <%# f.error_messages %>

            <% if @attendee.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@attendee.errors.count, "error") %> prohibited this event from being saved:</h2>

                <ul>
                <% @attendee.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div>  
            <% end %>
            <div class="field">
              <%= f.label :seats, "Number of people attending" %>
              <%= f.number_field :seats, :required => true, :min => 1 %>
            </div>
            <div class="field">
              <%= f.label :phone_number, "Your phone number"%>
              <%= f.text_field :phone_number, :required => true %>
            </div>
            <%= f.hidden_field :event_id, :value => @event.id %>

            <%= f.submit "Join this event", :class => "large red awesome"  %>

          <% end %>  
        <% end %>
      <% end %>
      
      
    </div>
  </div>
</div>

<div class="container">
  <div class="row-fluid">
    <div class="span6">
      <% total_number_of_courses = 0 %>

      <% @menu_items_categorized.each do |course_name, menu_items| %>
        
        <% total_number_of_courses = total_number_of_courses + 1 %>
      <% end %>      

      <% @menu_items_categorized.each_with_index do |(course_name, menu_items), index| %>        
        <%# Todo: Clean up this if loop. Right now the if loop is used to correctly put the tags for the span classes %>
        <% if index%2 == 0 && index != 0 %>
          </div>
          <div class="row-fluid group-row">
            <div class="span6">

              <h3><%= course_name %></h3>
              <% for menu_item in menu_items%>
              <div><%= menu_item.name %></div>
              <% end %>

            </div>
        <% elsif index == 0 %>
          <div class="row-fluid group-row">
            <div class="span6">

              <h3><%= course_name %></h3>
              <% for menu_item in menu_items%>
              <div><%= menu_item.name %></div>
              <% end %>

            </div>
        <% else %>
            <div class="span6">

              <h3><%= course_name %></h3>
              <% for menu_item in menu_items%>
              <div><%= menu_item.name %></div>
              <% end %>

            </div>
        <% end %>

      <% end %>
      </div>
    </div>
    <div class="span6">

      <h3>People Attending</h3>

      <% @event.attendee.each do |personAttending| %>
        <% user =  User.find(personAttending.user_id) %>
        <% if user.image.blank? %>
            <%= image_tag "/assets/noProfilePic.png", "data-toggle" => "tooltip", :title => user.name, :class => "profilePic" %>    
        <% else %>
            <%= image_tag user.image.to_s, "data-toggle" => "tooltip", :title => user.name, :class => "profilePic" %>    
        <% end %>
      <% end %>
    </div>
  </div>
</div>
 
<script>
  $(document).ready(function(){

    //$('.profilePic').tooltip('show')
    $('.profilePic').hover(function(){
      $(this).tooltip('show');
    });
  });
</script>