<% restaurant = Restaurant.find(@event.restaurant_id) %>
<input type="hidden" value=<%= @event.id %> id="event_id" >
<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <p id="notice"><%= notice %></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row-fluid">
    <div class="span6">
      <div class="eventDetailsImage">
        <% if @event.event_image.blank? %>
            <%= image_tag restaurant.photo_url.to_s %>
        <% else %>
            <%= image_tag @event.event_image_url.to_s %>
        <% end %>
        
        <div class="event_date_time">
          <%= @event.event_date.strftime("%d %B %Y") %>
          <%= @event.event_time.strftime("%I:%M%p") %>
          <strong><%= restaurant.name %></strong>
          <%= restaurant.address %>
        </div>
      </div>
    </div>
    <div class="span6">
      <h1><%= @event.event_name %></h1>    
      <p>
        <%= @event.event_description %>      
      </p>

      <%# Join form %>
      <%= form_for @attendee, :url => attendee_path, :html => {:method => :post} do |f|%>
        <%# f.error_messages %>

        <% if @attendee.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@attendee.errors.count, "error") %> prohibited this event from being saved:</h2>

            <ul>
            <% @attendee.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>  
        <% end %>
        <div class="field">
          <%= f.label :seats, "Number of people attending" %>
          <%= f.number_field :seats, :required => true %>
        </div>
        <div class="field">
          <%= f.label :phone_number, "Your phone number"%>
          <%= f.text_field :phone_number, :required => true %>
        </div>
        <%= f.hidden_field :event_id, :value => @event.id %>

        <%= f.submit "Join this event", :class => "large red awesome"  %>

      <% end %>
      
    </div>
  </div>
</div>

<div class="container">
  <div class="row-fluid">
    <div class="span6">
      <% course_count = 1 %>
      <% total_number_of_courses = 0 %>

      <% @menu_items_categorized.each do |course_name, menu_items| %>
        <% total_number_of_courses = total_number_of_courses + 1 %>
      <% end %>      

      <% @menu_items_categorized.each do |course_name, menu_items| %>        
        <%# Todo: Clean up this if loop. Right now the if loop is used to correctly put the tags for the span classes %>
        <% if course_count%3 == 0 || course_count == 1%>
          <div class="row-fluid">
            <div class="span6">
        <% else %>
            <div class="span6">
        <% end %>

        <h3><%= course_name %></h3>
        <% for menu_item in menu_items%>
          <div><%= menu_item.name %></div>
        <% end %>



        <% if (course_count%2 == 0 && course_count != 0) || (course_count + 1) > total_number_of_courses %>
            </div>
          </div>
          <% course_count = course_count + 1 %>
        <% else %>
          </div>  
          <% course_count = course_count + 1 %>
        <% end %>
      <% end %>
    </div>
    <div class="span6">

      <h3>People Attending</h3>

      <% @event.attendee.each do |personAttending| %>
        <% user =  User.find(personAttending.user_id) %>
        <%= image_tag "/assets/noProfilePic.png", "data-toggle" => "tooltip", :title => user.name, :class => "profilePic" %>
      <% end %>
    </div>
  </div>
</div>
 
<script>
  $(document).ready(function(){

    //$('.profilePic').tooltip('show')
    $('.profilePic').hover(function(){
      $(this).tooltip('show');
    });
  });
</script>