<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <p id="notice"><%= notice %></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row-fluid">
    <div class="span6">
      <div class="eventDetailsImage">
        <%= image_tag @event.event_image_url.to_s %>
        <div class="event_date_time">
          <%= @event.event_date %>
          <%= @event.event_time %>
        </div>
      </div>
    </div>
    <div class="span6">
      <h1><%= @event.event_name %></h1>    
      <p>
        <%= @event.event_description %>      
      </p>
      <a href="" class="large red awesome">Join this event</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row-fluid">
    <div class="span8">
      <% course_count = 1 %>

      <% @menu_items_categorized.each do |course_name, menu_items| %>
        
        <%# Todo: Clean up this if loop. Right now the if loop is used to correctly put the tags for the span classes %>
        <% if course_count == 0 || course_count == 2 %>
          <div class="row-fluid">
            <div class="span6">
        <% else %>
          <div class="span6">
        <% end %>

        <h3><%= course_name %></h3>
        <% for menu_item in menu_items%>
          <div><%= menu_item.name %></div>
        <% end %>

        <% if course_count == 0 || course_count == 2 %>
            </div>
          </div>
          <% course_count = course_count + 1 %>
        <% else %>
          </div>  
          <% course_count = course_count + 1 %>
        <% end %>

      <% end %>


    </div>
    <div class="span4">
      Hello
    </div>
  </div>
</div>






<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
