<p id="notice"><%= notice %></p>

<p>
  <b>Event image:</b>
  <%= image_tag @event.event_image_url(:thumb).to_s %>
</p>
<p>
  <b>Event image Original:</b>
  <%= image_tag @event.event_image_url.to_s %>
</p>

<p>
  <b>Event name:</b>
  <%= @event.event_name %>
</p>

<p>
  <b>Event description:</b>
  <%= @event.event_description %>
</p>

<p>
  <b>Event date:</b>
  <%= @event.event_date %>
</p>

<p>
  <b>Event time:</b>
  <%= @event.event_time %>
</p>

<p>
  <b>Restaurant:</b>
  <%= @event.restaurant_id %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
