<% content_for :javascript do %>
    <%= javascript_include_tag "closed-event-overlay" %>

    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

    <script>
      var map;
      var marker;
      var myLatlng = new google.maps.LatLng(17.432259,78.407529);

      function initialize() {
        var mapOptions = {
          zoom: 14,
          center: myLatlng,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        map = new google.maps.Map(document.getElementById('map_canvas'),
            mapOptions);

        var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h2 id="firstHeading" class="firstHeading"><%= @event.restaurant.name %></h2>'+
            '<div id="bodyContent">'+
            '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
            'sandstone rock formation in the southern part of the '+
            'Northern Territory, central Australia. It lies 335 km (208 mi) '+
            'south west of the nearest large town, Alice Springs; 450 km '+
            '(280 mi) by road. Kata Tjuta and Uluru are the two major '+
            'features of the Uluru - Kata Tjuta National Park. Uluru is '+
            'sacred to the Pitjantjatjara and Yankunytjatjara, the '+
            'Aboriginal people of the area. It has many springs, waterholes, '+
            'rock caves and ancient paintings. Uluru is listed as a World '+
            'Heritage Site.</p>'+
            '<p>Attribution: Uluru, <a href="http://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
            'http://en.wikipedia.org/w/index.php?title=Uluru</a> (last visited June 22, 2009).</p>'+
            '</div>'+
            '</div>';

        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: 'Hello World!'
        });

        google.maps.event.addListener(marker, 'click', function() {
          infowindow.open(map,marker);
        });
      }

      google.maps.event.addDomListener(window, 'load', initialize);


    </script>
<% end %>



<% content_for :title, "#{@event.event_name} | LetsDine" %>

    <% restaurant = Restaurant.find(@event.restaurant_id)%>

    <div class="container">
      <div class="row">
        
        <div class="col-md-8 eventPage">
          <% if @event.event_image.blank? %>
              <%= image_tag restaurant.photo_url(:event_page_image).to_s %>
          <% else %>
              <%= image_tag @event.event_image_url(:event_page_image).to_s %>
          <% end %>
          
          <div class="eventPageContent">
            <h2><%=@event.event_name%></h2>
            <span>
              <i class="icon-calendar"></i>
              Saturday, 21 September 2013 4:00PM
            </span>
            <div class="eventDescription">
              <%= simple_format(@event.event_description) %>      
            </div>

            <h3>Menu</h3>
            <div class="row">
              <div class="col-md-6">
                <strong class="menuItemsHeader">Beverage</strong>
                <p class="menuItemExplanation">Choice of either</p>
                <ul class="menuItems">
                  <li>Coffee</li>
                  <li>Tea</li>
                </ul>
              </div>
              <div class="col-md-6">
                <strong class="menuItemsHeader">Dessert</strong>
                Kulfi Falooda with Gulab Jamun
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <strong class="menuItemsHeader">Main Course</strong>
                <ul class="menuItems">
                  <li>Sahi Paneer</li>
                  <li>Telengana Fish Curry</li>
                  <li>Dal Dhaba</li>
                  <li>Murgh Biriyani</li>
                  <li>Tarkari Biryani</li>
                  <li>Assorted Indian Breads</li>
                </ul>
              </div>
              <div class="col-md-6"></div>
            </div>

          </div>
        </div>

        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <div class="joinEvent">
                <h2>Come Join Us</h2>
                <h4><strong>Rs. <%= restaurant.price %></strong> per person</h4>
                <form role="form">
                  <div class="form-group">
                    <label for="seats">Number of people coming</label>
                    <input type="integer" class="form-control" id="seats" placeholder="Number of people attending including you">
                  </div>
                  <div class="form-group">
                    <label for="phoneNumber">Phone number</label>
                    <p>
                      We will only use your phone number to confirm your attendance for the event.
                    </p>
                    <input type="text" class="form-control" id="phoneNumber" placeholder="Your phone number">
                  </div>
                  <button type="submit" class="css3-button css3-button_pink full_width">Join Event</button>
                </form>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="joinEvent">
                <h2>Event Location</h2>
                <div id="map_canvas" style="width: 100%; height: 300px;background: #ccc;"></div>
              </div>
            </div>
          </div>
            
          <div class="row">
            <div class="col-md-12">
              <div class="joinEvent">
                <h2>People Attending</h2>
                <div class="peopleAttending">
                  <i class="icon-user"></i>
                  <i class="icon-user"></i>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>











<div id="communication" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Invite your friends</h3>
  </div>
  <div class="modal-body">
    <p>Inivite a friend and get a discount on <a href="www.flatpebble.com/">flatpebble</a> for personal photo prints and photobooks</p>
    <% if @just_joined == true %>
      <%= render :partial => "user_invites/form",
                      :locals => {:user_id => current_user.id, :event_id => @event.id} %>  
    <% end %>
    <div id="offer">
      Use the following coupon code on the flatpebble site to redeem this offer.
      <h4>FP15</h4>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="large awesome green" id="friends_invite">Invite friends</a>
  </div>
</div>


<% if @just_joined == true %>
  
  <script>
    $(document).ready(function(){
      $('#offer').hide();
      $('#communication').modal('show');
      $('#friends_invite').click(function() {
        var valuesToSubmit = $('#new_user_invite').serialize();
        console.log(valuesToSubmit);
        $.ajax({
          url: $('#new_user_invite').attr('action'),
          data: valuesToSubmit,
          type: "POST",
          dataType: "JSON"
        }).success(function(json){
          $('#communication').find('form').hide();
          $('#offer').show();
          //$('#communication').modal('hide');
        });
        
        return false;
      });
    });
  </script>  
  
<% end %>

<script>
  $(document).ready(function(){

    //$('.profilePic').tooltip('show')
    $('.profilePic').hover(function(){
      $(this).tooltip('show');
    });
  });
</script>
