<div class="container">
  <div class="row">
    <div class="col-md-12 newEventPage expandable-panel" id="cp-1">

      <div class="newEventSummary">
        <h4>
          <div class="initialHeader">
            <span class="step">1</span>
            <span class="text">Fill In The Event Details</span>
          </div>
          <div class="successHeader">
            <span><i class="icon-ok-sign finished"></i></span>
            <span class="text">Event Details Completed</span>
            <a href="#" class="pull-right">Modify Event Details</a>
          </div>
        </h4>
      </div>

      <div class="expandable-panel-content">
        <div class="row">
          <div class="col-md-6">
            <label>Select the kind of event you want to conduct</label>
            <div class="radio">
            <label>
            <%= f.radio_button :event_type, "private", :class => "event_radio", :id => "private_event_radio" %>
            Private Event - You have to share the url with your friends
            </label>
            </div>
            <div class="radio">
            <label>
            <%= f.radio_button :event_type, "public", :class => "event_radio", :id => "public_event_radio" %>
            Public Event - Listed on the LetsDine homepage
            </label>
            </div>
          </div>
          <div class="col-md-6">
            <label>Where do you want to conduct the event?</label>
            <%= f.hidden_field :city %>
            <%= render 'city_select' %>
            
           </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="event_name">Event name</label>
                <%= f.text_field :event_name, :class => "form-control", :placeholder => "Enter the event name" %>
              </div>
            </div>
            <div class="col-md-6">
              <label for="event_name">Maximum number of people that can attend</label>
              <%= f.number_field :max_seats, :class => "form-control", :placeholder => "Enter the maximum number of people that can attend" %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <%= f.label :event_image %>
              <%= f.file_field :event_image %>  
              <div class="form-group">
                <%= f.label :event_image %>
                <%= f.file_field :event_image %>  
                <p class="help-block">This picture will be shown on the homepage and in the event page.</p>
              </div>
              

            </div>
            <div class="col-md-6">
              <label for="event_description">Description for this event</label>
              <%= f.text_area :event_description, :class => "form-control", :placeholder => "Enter a description for this event", :rows => "3" %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <a href="#" class="btn btn-primary nextStep">Event details completed</a>
            </div>
          </div>

      </div>

    </div>
  </div>
</div>