<% content_for :stylesheet do%>
  <%# stylesheet_link_tag    "prettify", :media => "all" %>
  <%= stylesheet_link_tag    "nanoscroller", :media => "all" %>
  <%= stylesheet_link_tag    "select2", :media => "all" %>
  
<% end %>
<% content_for :javascript do%>
  <%# javascript_include_tag "restaurant_picker" %>
  <%= javascript_include_tag "jquery-ui-1.10.3.custom" %>
  <%= javascript_include_tag "jquery.nanoscroller.min" %>
  <%= javascript_include_tag "select2" %>
<% end %>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="newEventHeading">New Event</h1>
		</div>
	</div>
</div>

<%= render 'form' %>

<script>  
    $(document).ready(function(){
    	$('#dateTimeAlert').hide();
    	$('.retaurantMenu').hide();

      $('#calendar').datepicker({
        inline: true,
        firstDay: 1,
        showOtherMonths: true,
        dayNamesMin: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
        dateFormat: "dd-mm-yy",
        onSelect: function(date,inst) { 
          $('#event_event_date').val(date);
          // Refer to http://stackoverflow.com/a/8938962/68611 for how this is done.
          var newFormat = $.datepicker.formatDate("DD, d MM, yy", $(this).datepicker("getDate"));

          $('#showDate').html(newFormat);
          $('#infoDate').html(newFormat);
        }
      });

      // Time select code
      $('.timeTable td').click(function(){
        var morningOrEvening = $(this).parent().parent().parent().attr('id');
        var amOrPM = "";
        var time = "";

        if (morningOrEvening == 'morning') 
        {
          time = $(this).html();
          //var timeAsFloat = parseFloat(time);

          var hour = time.substring(0,2) ;
          var min = time.slice(-2);
          var timeString = hour + '.' + min;
          console.log("The hour is:" + hour + " ; The min is:" + min);
          var timeAsFloat = parseFloat(timeString);

          if (timeAsFloat >= 12) 
          {
            console.log("the time is:" + timeAsFloat + 'PM');
            amOrPM = 'PM';
            $('#event_event_time').val(time);
          }
          else
          {
            console.log("the time is:" + timeAsFloat + 'AM');
            amOrPM = 'AM';
            $('#event_event_time').val(time);
          };

        } 
        else
        {
          time = $(this).html();
          amOrPM = 'PM';

          var hour = time.substring(0,2) ;
          var min = time.slice(-2);
          var timeString = hour + '.' + min;
          console.log("The hour is:" + hour + " ; The min is:" + min);
          var timeAsFloat = parseFloat(timeString);

          var timeTwentyFourHour = timeAsFloat + 12;
          //var valueToStore = timeTwentyFourHour;
          $('#event_event_time').val(timeTwentyFourHour);
        };

        $('#infoTime').html(time + amOrPM);
        $('#dateTimeAlert').show();
      });

      
      // Restaurant select code
      $('.restaurantDetails li').click(function(){
		$('.retaurantMenu').hide();      	
        	var restaurantSelectedId = $(this).find('input:hidden').val();
            $('#event_restaurant_id').val(restaurantSelectedId);
        	var menuToShow = "#" + restaurantSelectedId;
        	$(menuToShow).show();
        	$('.restaurantDetails li').removeAttr( 'style' );
        	$(this).css('background','#f6f7f9')

      });

    });

  </script>

  <script>
    $("#inviteFriends").select2({
      tags:[""],
      tokenSeparators: [",", ";", " "]
    });
    
  </script>

  <script>
  $(document).ready(function(){
    $('#cityList').addClass('hidden_div');
    $('.restaurantDetails li').hide();

    $(document).mouseup(function (e)
    {
        var container = $("#cityList");
        if (container.has(e.target).length === 0)
        {
          container.addClass('hidden_div');
        }
      });
    
    $('#citySelect').click(function(){
      $('#cityList').removeClass('hidden_div');
      $('#cityList .content ul ul li').click(function(e){
        var citySelected = $(this).text();
        $('#event_city').val(citySelected);
        $('#cityList').addClass('hidden_div');

        $('.restaurantDetails li').hide();
        
        var listToShow = '.restaurantDetails' + ' li.' + citySelected;
        console.log(listToShow);
        $(listToShow).show();
      });
    });
  });
</script>
