<% content_for :stylesheet do%>
	<%= stylesheet_link_tag    "prettify", :media => "all" %>
	<%= stylesheet_link_tag    "custom", :media => "all" %>
	<%= stylesheet_link_tag    "datepicker", :media => "all" %>
	<%= stylesheet_link_tag    "bootstrap-timepicker", :media => "all" %>
<% end %>
<% content_for :javascript do%>
	<%= javascript_include_tag "restaurant_picker" %>
	<%= javascript_include_tag "events" %>
	<%= javascript_include_tag "jquery.bootstrap.wizard" %>
	<%= javascript_include_tag "bootstrap-datepicker" %>
	<%= javascript_include_tag "bootstrap-timepicker" %>
<% end %>


<div class="content">
    <div class="container">
        <div class="row-fluid">
        	<div class="span8 offset2">
        		<div class="event">
        			<h1>New event</h1>
		        	<div id="rootwizard">
						<ul>
						  	<li><a href="#tab1" data-toggle="tab"><span class="label">1</span> Event Details</a></li>
							<li><a href="#tab2" data-toggle="tab"><span class="label">2</span> Restaurant </a></li>
							<li><a href="#tab3" data-toggle="tab"><span class="label">3</span> Invite People </a></li>
						</ul>
						<%= render 'form' %>

						<!--<%= link_to 'Back', events_path %>-->
					</div>
        		</div>
			</div>
        </div>
    </div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
  		$('#rootwizard').bootstrapWizard({'tabClass': 'bwizard-steps'});
	});
</script>

<script>
	$(document).ready(function(){
		$('#city').change(function(){
			var selected_city = $('#city :selected').val();
			$('.restaurantDetailsCotaniner').addClass('restaurant_hidden');
			$('.menuItems').hide();
			class_to_find = '.'+selected_city;
			$(class_to_find).removeClass('restaurant_hidden');
			//$('.restaurantMenu').show();
		});
	});
</script>