<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3	">
			<div class="checkoutContainer">
				<div class="checkoutHeader">
				<h1>CHECKOUT</h1>
			</div>
			<div class="checkout">
				
				<div class="checkoutPurchaseDetails">
					<strong><%= @event.event_name %></strong>
					<div class="checkoutEventDescriptionSummary subText">
						<% html = sanitize(BlueCloth.new(@event.event_description).to_html)  %>
						<% description_to_show = truncate(Sanitize.clean(html), :length => 100) %>
						<%= description_to_show %>
					</div>
					<div class="seatsPrice">
						<div class="row">
							<div class="col-md-4">
								<strong><%= @attendee.seats %></strong>
								<span class="subText">
									<% if @attendee.seats > 1 %>
										Seats
									<% else %>
										Seat
									<% end %>
								</span>
							</div>
							<div class="col-md-8">
								<div class="pull-right">
									<span class="subText">
										Total:
									</span>
									<strong>RM <%= @total_price %></strong>	
									

								</div>

							</div>
						</div>
						
					</div>

					<!-- IPay88 form start-->
					<% stringToEncrypt = "mS7uLHMgnkM06101MYDEV#{@cart.id}100MYR"   %>
					<% signatureToSendToIPay88 = @cart.signature(stringToEncrypt) %>
					<FORM method="post" name="ePayment"
					action="https://www.mobile88.com/epayment/entry.asp">
						<INPUT type="hidden" name="MerchantCode" value="M06101">
						<INPUT type="hidden" name="PaymentId" value="2">
						<INPUT type="hidden" name="RefNo" value="MYDEV<%= @cart.id%>">
						<INPUT type="hidden" name="Amount" value="1.00">
						<INPUT type="hidden" name="Currency" value="MYR">
						<INPUT type="hidden" name="ProdDesc" value="Event Seat">
						<INPUT type="hidden" name="UserName" value="<%= @user.name %>">
						<INPUT type="hidden" name="UserEmail" value="<%= @user.email %>">
						<INPUT type="hidden" name="UserContact" value="<%= @attendee.phone_number %>">
						<INPUT type="hidden" name="Remark" value="">
						<INPUT type="hidden" name="Lang" value="">
						<INPUT type="hidden" name="Signature" value="<%= signatureToSendToIPay88 %>">
						<INPUT type="hidden" name="ResponseURL"
						value="<%= payment_notifications_url %>">
						<INPUT type="hidden" name="BackendURL"
						value="<%= payment_notifications_url %>">
						<INPUT type="submit" value="Proceed with Payment" name="Submit">
					</FORM>
					<!-- IPay88 form end -->


				</div>

			</div>
			

			

			
			</div>


		</div>
	</div>
</div>