<div class="container">
  <div class="row-fluid">
    <div class="span12 total_attendees_highlight">
      <h1>Total number of attendees to date: <%= @total_attendees_to_date %> </h1>
    </div>
  </div>
</div>


<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <h1>Users</h1>
      <table class="table table-striped">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Type Of Account</th>
        </tr>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td> 
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td>
              <% if user.provider.blank? %>
                Local
              <% else %>
                Facebook
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>  

      <h1>Events</h1>
      <table class="table table-striped">
        <tr>
          <th>Total Attendees</th>
          <th>Event Name</th>
          <th>Attendees</th>
          <th>Email Invites</th>
          <th>Event Link</th>
        </tr>
        <% @events.each do |event| %>
          <tr>
            <td>
              <% total_attendees_for_event = 0 %>
              <% event.attendee.each do |personAttending| %>
                <% if personAttending.seats.nil? %>
                  <% total_attendees_for_event = total_attendees_for_event + 1 %>
                <% else %>
                  <% total_attendees_for_event = total_attendees_for_event + personAttending.seats %>
                <% end %>          
              <% end %>

              <%= total_attendees_for_event %>
      
            </td>
            <td><%= event.event_name %></td>
            <td>
              <% event.attendee.each do |personAttending| %>
                <% user = User.find(personAttending.user_id) %>
                (<%= personAttending.seats %>)(<%= personAttending.phone_number %>)<%= user.name %>,
              <% end %>
            </td>
            <td>
              <%= event.invitees %>
            </td>
            <td><%= link_to event_url(event) %> </td>
          </tr>
        <% end %>
        
      </table>


    </div>
  </div>
</div>


