<!DOCTYPE html>
<html lang="en">
<head>
	<title>LetsDine</title>

	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= stylesheet_link_tag    "bootstrap", :media => "all" %>
	<%= stylesheet_link_tag    "bootstrap-responsive", :media => "all" %>
	<%= stylesheet_link_tag    "style", :media => "all" %>
	<%= stylesheet_link_tag    "prettify", :media => "all" %>
	<%= stylesheet_link_tag    "custom", :media => "all" %>
	<%= stylesheet_link_tag    "datepicker", :media => "all" %>
	<%= stylesheet_link_tag    "bootstrap-timepicker", :media => "all" %>

	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "jquery-1.9.1" %>
	<%= javascript_include_tag "bootstrap" %>
	<%= javascript_include_tag "jquery.slidingGallery-1.2.js" %>
	<%= javascript_include_tag "jquery.bootstrap.wizard" %>
	<%= javascript_include_tag "bootstrap-datepicker" %>
	<%= javascript_include_tag "bootstrap-timepicker" %>
	<%= javascript_include_tag "modernizr.custom.53451" %>
	<%= javascript_include_tag "jquery.gallery" %>	
	
	
	<%= csrf_meta_tags %>
	
	<!-- Gallery Script -->
	<script language="javascript" type="text/javascript">
		$(document).ready(function(){
			$('div.gallery img').slidingGallery({
				
				
			});
		});
    </script>

</head>
<body>

	<div class="topBar">
		<div class="navbar navbar-fixed-top">
    		<div class="navbar-inner">
        		<div class="container">
        			<div class="row-fluid">
        				<div class="span6 offset3"><img src="/assets/logo.png"></div>
        				<div class="span3 loginDetails">
        					<% if user_signed_in? %>
        						<%= current_user.email %> | <%= link_to "Sign out", destroy_user_session_path %>
        					<% else %>
        						<%= link_to "Sign up", new_user_registration_path  %> or <%= link_to "Sign in", new_user_session_path %>
        					<% end %>
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
	</div>

	<div class="jumbotron masthead">
		<div class="container">
			<div class="row-fluid">
				<div class="span6 offset4">
					<%= render_navigation :class => 'test' %>
				</div>
				<div class="span2">
					<%= link_to "Create Event", :new_event, :class => "large green awesome createEventBtn" %>
				</div>
			</div>			
		</div>
	</div>


	<%= yield %>	


	<script>
		$(document).ready(function(){
			$('#jl').tooltip()
		})
	</script>

</body>
</html>
