<!DOCTYPE html>
<!--[if lt IE 6]> <html class="no-js ie6 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js ie7 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 lt-ie9"> <![endif]-->
<!--[if IE 9 ]> <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en" ng-app="letsdineApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../assets/ico/favicon.png">

  <title>Things to do today | LetsDine</title>


  <%= stylesheet_link_tag    "application", :media => "all" %>
  <!-- Bootstrap core CSS -->
  <%= stylesheet_link_tag    "lib/bootstrap/bootstrap", :media => "all" %>

  <!-- Font awesome core CSS -->
  <!-- Todo: Add the actual files and precompile them -->
  <%# stylesheet_link_tag    "font-awesome", :media => "all" %>
  <%# stylesheet_link_tag    "font-awesome-ie7", :media => "all" %>

  <!-- Custom styles for this template -->
  <%= stylesheet_link_tag    "style", :media => "all" %>
  <%= stylesheet_link_tag    "lib/buttons", :media => "all" %>


  <!-- Typekit fonts-->
  <!-- Todo: Change this to the live site link once done -->

  <script type="text/javascript" src="//use.typekit.net/ehw5qqm.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <!-- Typekit fonts end -->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <!-- Todo: Uncomment this and add the actual files -->
          <!--
  <script src="../../assets/js/html5shiv.js"></script>
  <script src="../../assets/js/respond.min.js"></script>
          -->
  <![endif]-->

  <!-- Socail plugins js code -- start -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-527f39d169f8fe25&async=1"></script>
  <!-- Socail plugins js code -- end -->

  <%= csrf_meta_tags %>
</head>

<body>
<!-- The top bar contains the logo, search bar and login info. This will be constant throught out the application. This part of the page will not change. -->
<div class="topBar">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <a href="/"><%= image_tag 'logo.png', :class => 'img-responsive logo' %></a>

      </div>
      <div class="col-md-8">
        <!--
        <div class="input-group">

          <input type="text" class="form-control" placeholder="What are you looking for?">
          <span class="input-group-addon">Search</span>
        </div>
        -->
      </div>
      <div class="col-md-2">
        <div class="login">
          <a href="#" class="button is-primary">Sign up</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Top bar end -->


<!-- Top navigation start -->
<div class="topNav">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!--
        <ul>
          <li><a href="#">Art</a></li>
          <li><a href="#">Outdoor</a></li>
          <li><a href="#">Indoor</a></li>
          <li><a href="#">Sports</a></li>
          <li><a href="#">Another filter</a></li>
          <li><a href="#">One more nav item</a></li>
          <li><a href="#">One more nav item</a></li>
          <li><a href="#">One more nav item</a></li>
          <li><a href="#">One more nav item</a></li>
        </ul>
        -->
      </div>
    </div>
  </div>
</div>
<!-- Top navigation end -->

<ng-view></ng-view>

<!-- Host sell section start -->
<div class="sell">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        This is a test
      </div>
    </div>
  </div>
</div>
<!-- Host sell part -->

<!-- Footer start -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      Footer
    </div>
  </div>
</div>
<!-- Footer end -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//documentcloud.github.io/underscore/underscore-min.js"></script>
<!--
  <script src="js/lib/jquery/jquery-1.10.2.min.js"></script>
  <script src="js/lib/slider/slider.min.js"></script>
  -->
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en"></script>



<!-- Angularjs includes start -->
<%= javascript_include_tag "lib/angularjs/angular.js" %>
<%= javascript_include_tag "lib/angularjs/angular-resource.js" %>
<%= javascript_include_tag "lib/angularjs/angular-route.js" %>
<%= javascript_include_tag "lib/angularjs/angular-animate.js" %>
<%= javascript_include_tag "lib/googlemaps/angular-google-maps.js" %>
<%= javascript_include_tag "app/app.js" %>
<%= javascript_include_tag "app/directives/textareaAutoGrow.js" %>
<%= javascript_include_tag "app/directives/addthis.js" %>
<%= javascript_include_tag "app/services/users/SessionService" %>
<%= javascript_include_tag "app/controllers/HomeController.js" %>
<%= javascript_include_tag "app/controllers/UsersController.js" %>
<%= javascript_include_tag "app/services/search/AlgoliaSearchService.js" %>
<%= javascript_include_tag "app/controllers/SearchController.js" %>
<%= javascript_include_tag "app/filters/SplitIntoColsFilter.js" %>
<%= javascript_include_tag "app/services/events/EventsService.js" %>
<%= javascript_include_tag "app/controllers/EventsController.js" %>
<%= javascript_include_tag "app/controllers/RecordCtrl.js" %>
<%= javascript_include_tag "app/services/host/HostService.js" %>
<%= javascript_include_tag "app/controllers/HostAdminController.js" %>
<!-- Angularjs includes end -->

</body>
</html>
