<!DOCTYPE HTML>
<html lang="en">
<head>
	
	<% if session[:city].nil? %>
		<% session[:city] = "" %>
	<% end %>

	<% if (yield :title).empty? %>
		<% if session[:city].empty? %>
			<title>Things to do and people to meetup up with</title>	
		<% else %>
			<title>Things to do in <%= session[:city] %></title>
		<% end %>	
	<% else %>
		<title><%= yield :title %></title>		
	<% end %>
	

	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= stylesheet_link_tag    "bootstrap", :media => "all" %>
	<%= stylesheet_link_tag    "bootstrap-responsive", :media => "all" %>
	<%= stylesheet_link_tag    "style", :media => "all" %>
	<%= stylesheet_link_tag    "prettify", :media => "all" %>
	<%= stylesheet_link_tag    "custom", :media => "all" %>
	<%= stylesheet_link_tag    "datepicker", :media => "all" %>
	<%= stylesheet_link_tag    "bootstrap-timepicker", :media => "all" %>
	<%= stylesheet_link_tag    "font-awesome", :media => "all" %>
	<%= stylesheet_link_tag    "font-awesome-ie7", :media => "all" %>

	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "jquery-1.9.1" %>
	<%= javascript_include_tag "bootstrap" %>
	<%= javascript_include_tag "closed-event-overlay" %>
	<%= yield :javascript %>	
	
	<%= csrf_meta_tags %>

	<!--Start of Zopim Live Chat Script-->
	<script type="text/javascript">
	window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
	d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
	_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
	$.src='//v2.zopim.com/?1LnC95LuebsHsuqgXQ7yrKldLcOpJoOo';z.t=+new Date;$.
	type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
	</script>
	<!--End of Zopim Live Chat Script-->

	
</head>
<body <%= yield :body_class %>>
	<!-- FB start -->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=229399707199762";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<!-- FB end -->

	<div class="header">
      <div class="container">
        <div class="row-fluid">
          <div class="span2">
            <div class="ribbon">
              <ul>
                <li><h4>LetsDine</h4> </li>
              </ul>
            </div>
          </div>
          <div class="span6">
            <ul class="topNav">
            	<%= render_navigation :class => 'test' %>
              
            </ul>
          </div>
          <div class="span4">
            <div class="userControlsContainer">
            	
            	<div class="usercontrols">
            		<div class="loginOptions">
        						<% if user_signed_in? %>
	        						<%= current_user.name %> | <%= link_to "Sign out", destroy_user_session_path %>
	        					<% else %>
	        						<%= link_to "LOGIN", new_user_session_path%> 
	        						|
	        						<%= link_to "SIGN UP", new_user_registration_path %>
	        						
	        					<% end %>
        					</div>
            	</div>
              
              <div class="citySelect" id="citySelectDropdown">
              	<% if session[:city].blank? %>
              		Select your city... 
              	<% else %>
              		Selected City: <%= session[:city] %>
              	<% end %>
                <i class="icon-angle-down icon-2x selectIcon"></i>	
              </div>
              <div class="cityList" id="citySelectList">
                <ul>
                  <li><a href="Hyderabad">Hyderabad</a></li>
                  <li><a href="Bangalore">Bangalore</a></li>
                  <li><a href="Pune">Pune</a></li>
                  <li><a href="Ahmedabad">Ahmedabad</a></li>
                  <li><a href="Kuala Lumpur">Kuala Lumpur</a></li>
                  <li><a href="Selangor">Selangor</a></li>
                  <li><a href="Perak">Perak</a></li>
                  <li><a href="Penang">Penang</a></li>
                  
                </ul>
              </div>
            </div>
          
          </div>
        </div>
      </div>  
    </div>

    <% if @home_page %>
    	
    <% else %>
    	<div class="container">
			<div class="row-fluid">
				<div class="span12">
					<%= render 'layouts/messages' %>
				</div>
			</div>
		</div>	
    <% end %>

	


	<%= yield %>	


	<script>
      $(document).ready(function () {
        $('#citySelectList').hide();
        $('#citySelectList li a').click(function(e){
          e.preventDefault();
        });

        // Hiding the city select if a user clicks outside the select area
        $(document).mouseup(function (e)
        {
            var container = $("#citySelectList");

            if (container.has(e.target).length === 0)
            {
                container.hide();
            }
        });
        $('#citySelectDropdown').click(function(){
          $('#citySelectList').show();
        });
        $('#citySelectList li').click(function(){
        	var selected_city = $("a",this).attr('href');
			var url = window.location.pathname
			var url_controller = url.substring(url.lastIndexOf('/')+1);
			
			if (url_controller == "events")
			{
				var url_to_submit_to = '/'+selected_city+'/events';
				window.location = url_to_submit_to;
			}
			else if (url == "/")
			{
				var url_to_submit_to = '/'+selected_city;
				window.location = url_to_submit_to;
			}
			else
			{
				var url_to_submit_to = '/' + selected_city;
				window.location = url_to_submit_to;
			}
        });
      })
    </script>

	<script>
		$(document).ready(function(){
			$('#jl').tooltip()
		})
	</script>

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-39739783-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	<div class="container">
		<div class="row-fluid">
			<div class="span12">
				<div class="fb-like" data-href="http://www.letsdine.co/" data-width="450" data-show-faces="true" data-send="true"></div>
			</div>
		</div>
	</div>

	<script type="text/javascript" charset="utf-8">
	  var _ptq = _ptq || [];
	  var _punchtab_settings = {
	    key: "fbd6d029c4ad14ab27a74927046a7087",
	    bar: {}
	  };

	  (function() {
	    var pt = document.createElement('script'); pt.type = 'text/javascript'; pt.async = true;
	    pt.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'static.punchtab.com/js/pt.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pt, s);
	  })();
	</script>

</body>
</html>
