<!DOCTYPE HTML>
<html lang="en">
<head>
	
	<% if (yield :title).empty?%>
		<% if session[:city].empty? %>
			<title>Things to do and people to meetup up with</title>	
		<% else %>
			<title>Things to do in <%= session[:city] %></title>
		<% end %>	
	<% else %>
		<title><%= yield :title %></title>		
	<% end %>
	

	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= stylesheet_link_tag    "bootstrap", :media => "all" %>
	<%= stylesheet_link_tag    "bootstrap-responsive", :media => "all" %>
	<%= stylesheet_link_tag    "style", :media => "all" %>
	<%= stylesheet_link_tag    "prettify", :media => "all" %>
	<%= stylesheet_link_tag    "custom", :media => "all" %>
	<%= stylesheet_link_tag    "datepicker", :media => "all" %>
	<%= stylesheet_link_tag    "bootstrap-timepicker", :media => "all" %>

	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "jquery-1.9.1" %>
	<%= javascript_include_tag "bootstrap" %>
	<%= javascript_include_tag "closed-event-overlay" %>
	<%= yield :javascript %>	
	
	<%= csrf_meta_tags %>

</head>
<body <%= yield :body_class %>>

	<div class="topBar">
		<div class="navbar">
    		<div class="navbar-inner">
        		<div class="container">
        			<div class="row-fluid">
        				<div class="span4">
        					<select name="city-selector" class="locationpicker" id="city-select">
        						<option>Select your city</option>
							    <option value="Hyderabad">Hyderabad</option>
							    <option value="Mumbai">Mumbai</option>
							    <option value="Ahmedabad">Ahmedabad</option>
							    <option value="Bangalore">Bangalore</option>
							  </select>
							  <% if session[:city].nil? %>
							  	<h4 class="selected_city">Select a City</h4>
							  <% else %>
							  	<h4 class="selected_city">Current City: <%= session[:city] %> </h4>
							  <% end %>
							  
        				</div>
        				<div class="span5 logo">
        					<img src="/assets/logo.png">
        					<h4>Meet great people over great food</h4>
        				</div>
        				<div class="span3 loginDetails">
        					<div class="loginOptions">
        						<% if user_signed_in? %>
	        						<%= current_user.name %> | <%= link_to "Sign out", destroy_user_session_path %>
	        					<% else %>
	        						<%= link_to "LOGIN", new_user_session_path, :class => "login_link" %> 
	        						<span id="sign_up_link">
	        							<%= link_to new_user_registration_path, :class => "large awesome blue" do %>
										  <%= image_tag("signup_image.png", :alt => "Sign up") %>
										  <span>Sign up</span>
										<% end %>
	        						</span> 
	        						<div>
	        							Sign up and stay notified.
	        						</div>
	        						
	        					<% end %>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
	</div>

	<div class="jumbotron masthead">
		<div class="container">
			<div class="row-fluid">
				<div class="span6 offset4">
					<%= render_navigation :class => 'test' %>
				</div>
				<div class="span2">
					<div class="createEventButtonContainer">
						<%= link_to "Create Event", :new_event, :class => "large green awesome createEventBtn" %>
					</div>
				</div>
			</div>			
		</div>
	</div>

	<div class="container">
		<div class="row-fluid">
			<div class="span12">
				<%= render 'layouts/messages' %>
			</div>
		</div>
	</div>


	<%= yield %>	


	<script>
		$(document).ready(function(){
			$('#city-select').change(function() {
				var selected_city = $('#city-select :selected').val();
				var url = window.location.pathname
				var url_controller = url.substring(url.lastIndexOf('/')+1);
				
				if (url_controller == "events")
				{
					var url_to_submit_to = '/'+selected_city+'/events';
					window.location = url_to_submit_to;
				}
				else if (url == "/")
				{
					var url_to_submit_to = '/'+selected_city;
					window.location = url_to_submit_to;
				}
				else
				{
					var url_to_submit_to = '/' + selected_city;
					window.location = url_to_submit_to;
				}

				
				//$.ajax({
				//	type: 'GET',
				//	url: url_to_submit_to,
				//	error: function(){  },
				//	success: function(data){ alert(data) },
				//	complete: function (){   }
				//});
				//return false;
			})
		})
	</script>

	<script>
		$(document).ready(function(){
			$('#jl').tooltip()
		})
	</script>

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-39739783-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	
</body>
</html>
