<!DOCTYPE html>
<html lang="en">
<head>
	<title>LetsDine</title>

	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= stylesheet_link_tag    "bootstrap", :media => "all" %>
	<%= stylesheet_link_tag    "bootstrap-responsive", :media => "all" %>
	<%= stylesheet_link_tag    "style", :media => "all" %>
	<%= stylesheet_link_tag    "prettify", :media => "all" %>
	<%= stylesheet_link_tag    "custom", :media => "all" %>
	<%= stylesheet_link_tag    "datepicker", :media => "all" %>
	<%= stylesheet_link_tag    "bootstrap-timepicker", :media => "all" %>
	<%= stylesheet_link_tag    "zoomflow", :media => "all" %>

	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "jquery-1.9.1" %>
	<%= javascript_include_tag "bootstrap" %>
	<%= javascript_include_tag "jquery.bootstrap.wizard" %>
	<%= javascript_include_tag "bootstrap-datepicker" %>
	<%= javascript_include_tag "bootstrap-timepicker" %>
	<%= javascript_include_tag "zoomflow/zoomflow.dev" %>
	<%= yield :javascript %>	
	
	<%= csrf_meta_tags %>

</head>
<body>

	<div class="topBar">
		<div class="navbar navbar-fixed-top">
    		<div class="navbar-inner">
        		<div class="container">
        			<div class="row-fluid">
        				<div class="span6 offset3"><img src="/assets/logo.png"></div>
        				<div class="span3 loginDetails">
        					<% if user_signed_in? %>
        						<%= current_user.name %> | <%= link_to "Sign out", destroy_user_session_path %>
        					<% else %>
        						<%= link_to "Sign up", new_user_registration_path  %> or <%= link_to "Sign in", new_user_session_path %>
        					<% end %>
        				</div>
        			</div>
        		</div>
        		<div class="container tagline-container">
        			<div class="row-fluid">
        				<div class="span6 offset3 tagline">
        					<h4>Meet great people over great food</h4>
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
	</div>

	<div class="jumbotron masthead">
		<div class="container">
			<div class="row-fluid">
				<div class="span6 offset4">
					<%= render_navigation :class => 'test' %>
				</div>
				<div class="span2">
					<%= link_to "Create Event", :new_event, :class => "large green awesome createEventBtn" %>
				</div>
			</div>			
		</div>
	</div>


	<%= yield %>	


	<script>
		$(document).ready(function(){
			$('#jl').tooltip()
		})
	</script>

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-39739783-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	
</body>
</html>
