<!DOCTYPE HTML>
<html lang="en">
<head>
	<!-- Begin Inspectlet Embed Code -->
	<script type="text/javascript" id="inspectletjs">
		window.__insp = window.__insp || [];
		__insp.push(['wid', 995495447]);
		(function() {
			function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://www.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); }
			if (window.attachEvent){
				window.attachEvent('onload', __ldinsp);
			}else{
				window.addEventListener('load', __ldinsp, false);
			}
		})();
	</script>
	<!-- End Inspectlet Embed Code -->

	<!-- Begin mixpanel tracking code -->
	<!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
mixpanel.init("8109b4e39a8360bc43bf067857408e00");</script><!-- end Mixpanel -->
	<!-- End mixpanel tracking code -->

	<title>LetsDine Checkout</title>	

	
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="LetsDine">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">    

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <!-- Bootstrap core CSS -->
    <%= stylesheet_link_tag    "bootstrap", :media => "all" %>

    <!-- Font awesome core CSS -->
    <%= stylesheet_link_tag    "font-awesome", :media => "all" %>
    <%= stylesheet_link_tag    "font-awesome-ie7", :media => "all" %>

    <!-- Custom styles for this template -->
    <%= stylesheet_link_tag    "style", :media => "all" %>
    <%= stylesheet_link_tag    "buttons", :media => "all" %>
    
    <!-- Typekit Fonts -->
    
    <script type="text/javascript" src="//use.typekit.net/yjy6rjo.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	

	
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/lib/html5shiv.js"></script>
      <script src="js/lib/respond.min.js"></script>
    <![endif]-->

    
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "jquery-1.10.2.min" %>
    <%= yield :javascript %>	
	
    <%= csrf_meta_tags %>

	<!-- Start of Woopra Code -->
	<script>
	(function(){
	    var t,i,e,n=window,o=document,a=arguments,s="script",r=["config","track","identify","visit","push","call"],c=function(){var t,i=this;for(i._e=[],t=0;r.length>t;t++)(function(t){i[t]=function(){return i._e.push([t].concat(Array.prototype.slice.call(arguments,0))),i}})(r[t])};for(n._w=n._w||{},t=0;a.length>t;t++)n._w[a[t]]=n[a[t]]=n[a[t]]||new c;i=o.createElement(s),i.async=1,i.src="//static.woopra.com/js/w.js",e=o.getElementsByTagName(s)[0],e.parentNode.insertBefore(i,e)
	})("woopra");

	woopra.config({
	    domain: 'letsdine.co'
	});
	woopra.track();
	</script>
	<!-- End of Woopra Code -->
	<script>

		/* Place this on a template where a customer initially is identified
		   or after authentication. (Important: Update these values) */
		   <% if user_signed_in? %>
			woopra.identify({
			    email: '<%= current_user.email %>',
			    name: '<%= current_user.name %>'			    
			});

			// The identify code should be added before the "track()" function
			woopra.track();   	
		   <% end %>
		
	</script>

	
	<!-- Heap code start -->
	 <script type="text/javascript">
      var heap=heap||[];heap.load=function(a){window._heapid=a;var b=document.createElement("script");b.type="text/javascript",b.async=!0,b.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.heapanalytics.com/js/heap.js";var c=document.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);var d=function(a){return function(){heap.push([a].concat(Array.prototype.slice.call(arguments,0)))}},e=["identify","track"];for(var f=0;f<e.length;f++)heap[e[f]]=d(e[f])};
      heap.load("3010248086");
    </script>
    <!-- Heap code end -->

</head>
<body <%= yield :body_class %>>
  <div class="wrap">

	<%= yield %>	


	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-39739783-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</div>

	
</body>
</html>

